<template>
	<Breadcrumb 
        priority="19"
        v-bind:titleId="$t('app.views.showerrordetails.breadcrumb', [this.id])"
        v-bind:route="this.$router.currentRoute" />

	<main id="main">
		<section id="main-top">
			<h1>{{ $t('app.views.showerrordetails.title') }}</h1>
            <p class="msg-alert" v-if="restError">{{ restError.message }}</p>
		</section>

		<section id="main-content">
            <form id="detailForm" name="detailForm" class="form-editable">
                <div class="form-container"> 
                    
                    <div class="form-buttons">
                        <button
							class="btn btn-back"
							v-on:click="$store.getters.getObjectStore['breadcrumbManager'].onClickBack()"
						>{{$t('app.views.showerrordetails.buttonBack')}}</button>
                        <transition name="fade">
                            <button 
                                class="btn btn-edit"
                                v-on:click.prevent="onClickEdit"
                                v-bind:disabled="!allDisabled"
                                style="margin-left: auto"
                            >{{ $t('app.views.showerrordetails.buttonEdit') }}</button>
                        </transition>
                        <transition name="fade">
                        <button
                                class="btn-icon btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                                style="margin-left: 1rem"
                                v-tooltip="$t('app.views.showerrordetails.buttonCancel')"
                                aria-label="$t('app.views.showerrordetails.buttonCancel')"
                            ></button>
                        </transition>
                    </div>
                    <fieldset>
                        <legend>{{ $t('app.views.showerrordetails.grpDOI') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <p>
                                    <router-link id="detailForm:name" v-bind:to="{ name: 'repo', query: {id: entry['pool-id']}}">{{ entry['pool-name'] }}</router-link>
                                </p>
                                <label for="detailForm:name">{{ $t('app.views.showerrordetails.labelRepository') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <p v-if="entry['doi-id']">
                                    <router-link id="detailForm:doi" v-bind:to="{ name: 'doi', query: {id: entry['doi-id']}}">{{ entry['doi'] }}</router-link>
                                </p>
                                <p v-if="!entry['doi-id']">
                                    --
                                </p>
                                <label for="detailForm:doi">{{ $t('app.views.showerrordetails.labelDOI') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:poolDoiPrefix"
                                    type="text"
                                    name="detailForm:poolDoiPrefix"
                                    placeholder="--"
                                    v-model="entry['pool-doi-prefix']" 
                                    disabled
                                />
                                <label for="detailForm:poolDoiPrefix">{{ $t('app.views.showerrordetails.labelPoolDoiPrefix') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:executionId"
                                    type="text"
                                    name="detailForm:executionId"
                                    placeholder="--"
                                    v-model="entry['execution-id']" 
                                    disabled
                                />
                                <label for="detailForm:executionId">{{ $t('app.views.showerrordetails.labelOrderId') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:creationDate"
                                    type="text"
                                    name="detailForm:creationDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date']))" 
                                    disabled
                                />
                                <label for="detailForm:creationDate">{{ $t('app.views.showerrordetails.labelCreationDate') }}</label>
                            </div>
                             <div class="form-cell-4">
                                <input
                                    id="detailForm:modificationDate"
                                    type="text"
                                    name="detailForm:modificationDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['modification-date']))" 
                                    disabled
                                />
                                <label for="detailForm:modificationDate">{{ $t('app.views.showerrordetails.labelModificationDate') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Error</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:errorCode"
                                    type="text"
                                    name="detailForm:errorCode"
                                    v-model="entry['error-code']" 
                                    disabled
                                />
                                <label for="detailForm:metadataPrefix">{{ $t('app.views.showerrordetails.labelErrorCode') }}</label>
                            </div>
                            <div class="form-cell-8">
                                <ETHTextarea 
                                    id="detailForm:errorMsg"
                                    name="detailForm:errorMsg" 
                                    v-model="entry['error-msg']" 
                                    minSize="30" 
                                    disabled
                                />
                                <label for="detailForm:errorMsg">{{ $t('app.views.showerrordetails.labelErrorMsg') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showerrordetails.grpAddInfo') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-8" v-if="entry['request']">
                                <ETHTextarea 
                                    id="detailForm:request"
                                    name="detailForm:request" 
                                    v-model="entry['request']"
                                    minSize="300" 
                                    disabled
                                />
                                <label for="detailForm:request">{{ $t('app.views.showerrordetails.labelRequest') }}</label>
                                <button type="reset" name="copyRequestButton" class="btn btn-content-copy" v-on:click.prevent="onClickCopy(entry['request'])" v-tooltip="{content: this.$t('app.views.showerrordetails.buttonCopyTT')}">{{ $t('app.views.showerrordetails.buttonCopy') }}</button>
                            </div>
                             <div class="form-cell-8" v-if="entry['response']">
                                <ETHTextarea 
                                    id="detailForm:response"
                                    name="detailForm:response" 
                                    v-bind:value="formatJSON(entry['response'])" 
                                    minSize="300"
                                    disabled
                                />
                                <label for="detailForm:response">{{ $t('app.views.showerrordetails.labelResponse') }}</label>
                                <button type="reset" name="copyResponseButton" class="btn btn-content-copy" v-on:click.prevent="onClickCopy(formatJSON(entry['response']))" v-tooltip="{content: this.$t('app.views.showerrordetails.buttonCopyTT')}">{{ $t('app.views.showerrordetails.buttonCopy') }}</button>
                            </div>
                            <div class="form-cell-8" v-if="entry['snipplet']">
                                <ETHTextarea 
                                    id="detailForm:snipplet"
                                    name="detailForm:snipplet" 
                                    v-if="entry['doi']"
                                    v-bind:value="formatJSON(entry['snipplet'])" 
                                    minSize="300"
                                    disabled
                                />
                                <label v-if="entry['doi']" for="detailForm:snipplet">{{ $t('app.views.showerrordetails.labelDublinCoreData') }}</label>
                                <button v-if="entry['doi']" type="reset" name="copySnippletButton" class="btn btn-content-copy" v-on:click.prevent="onClickCopy(formatJSON(entry['snipplet']))" v-tooltip="{content: this.$t('app.views.showerrordetails.buttonCopyTT')}">{{ $t('app.views.showerrordetails.buttonCopy') }}</button>
                                <ETHTextarea 
                                    id="detailForm:snipplet"
                                    name="detailForm:snipplet" 
                                    v-if="!entry['doi']"
                                    v-bind:value="formatXML(entry['snipplet'])"
                                    minSize="300" 
                                    disabled
                                />
                                <label v-if="!entry['doi']" for="detailForm:snipplet">{{ $t('app.views.showerrordetails.labelDublinCoreSnipplet') }}</label>
                                <button v-if="!entry['doi']" type="reset" name="copySnippletButton" class="btn btn-content-copy" v-on:click.prevent="onClickCopy(formatXML(entry['snipplet']))" v-tooltip="{content: this.$t('app.views.showerrordetails.buttonCopyTT')}">{{ $t('app.views.showerrordetails.buttonCopy') }}</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showerrordetails.grpErrorHandling') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-8 form-list">
                                <input
                                    id="detailForm:handled"
                                    type="checkbox"
                                    name="detailForm:handled"
                                    v-bind:checked="entry['handled'] == 1" 
                                    v-on:input="entry['handled'] = Math.abs(entry['handled'] - 1)"
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:handled">{{ $t('app.views.showerrordetails.labelHandled') }}</label>
                            </div>
                            <div class="form-cell-8">
                                <input
                                    id="detailForm:comment"
                                    type="text"
                                    name="detailForm:comment"
                                    placeholder="--"
                                    maxlength="512"
                                    v-model="entry['comment']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:comment">{{ $t('app.views.showerrordetails.labelComment') }}</label>
                            </div>
                        </div>
                    </fieldset>

                    <transition name="fade">
                        <div class="form-buttons"
                            v-on:click.prevent="saveForm"
                        >
                            <button
                                class="btn btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                            >{{ $t('app.views.showerrordetails.buttonCancel') }}</button>
                            <button
                                class="btn btn-submit"
                                v-on:click.prevent="onClickSave"
                                v-if="!allDisabled"
                            >{{ $t('app.views.showerrordetails.buttonSave') }}</button>
                        </div>
                    </transition>
                </div>
            </form>
		</section>
	</main>
</template>

<script>
import vkbeautify from 'vkbeautify'
import Logger from 'js-logger'
import DateUtils from '@/mixins/DateUtils'
import Breadcrumb from '@/components/layout/Breadcrumb'
import DOIOnlineServices from '@/services/DOIOnlineServices'
import ETHTextarea from '@/components/fw/ETHTextarea.vue'

export default {
	name: 'ShowErrorDetails',

	mixins: [DateUtils],

	components: {
		Breadcrumb,
        ETHTextarea
	},

	data: () => {
		return {
            restError: null,
            allDisabled: true,
			entry: {},
			restServices: new DOIOnlineServices()
		}
	},

    props: {
		id: null
	},

    mounted() {
        if (this.id) {
            this.loadEntry(this.id)
            this.allDisabled = true
        }
	},

    methods: {
		loadEntry(entryId) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.getError(entryId, 
                (response) => {
                    this.entry = response.data

                    loader.hide()
                    Logger.debug('REST getError(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST getError(...) called result: ' + error)
                }
            )
		},
        saveEntry() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })
            this.restError = null

            if (this.entry.id) {
                this.restServices.updateError(
                    this.entry.id, this.entry,
                    () => {
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST updateError(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST updateError call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            }
		},
        onClickEdit() {
            this.allDisabled = false
        },
        onClickReset() {
            if (this.entry.id) {
                this.loadEntry(this.entry.id)
                this.allDisabled = true
            } else {
                this.entry = {}
            }
        },
        onClickSave() {
            this.saveEntry()
        },
        onClickCopy(text) {
            navigator.clipboard.writeText(text);
        },
        formatJSON(rawJson) {
            try {
                let obj = JSON.parse(rawJson)
                return JSON.stringify(obj, null, 3)
            } catch (exception) {
                return rawJson
            }
        },
        formatXML(rawXml) {
            return vkbeautify.xml(rawXml)
        }
    }
}
</script>

<style>
    
</style>
