<template>
    <form id="searchForm" name="searchForm">       
    
        <div class="heading-container" style="border: none;">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="true"
            />
        </div>

        <section class="form-container">
            <fieldset>
                <div class="form-group width-full">
                    <div class="form-cell-1">
                        <TableSizeSelector
                            id="searchMaxResults" 
                            v-model="currentSearch['rs-size']"
                        />
                        <label for="searchMaxResults">{{ $t('app.views.listdois.doiTable.labelItemsPerPage') }}</label>
                    </div>
                    <div class="form-cell-4">
                        <input type="text" id="searchDoi" placeholder="" maxlength="255" v-model="currentSearch['doi']">
                        <label for="searchDoi">{{ $t('app.views.listdois.doiTable.labelDOI') }}</label>
                    </div>
                    <div class="form-cell-3">
                        <input type="text" id="searchUrl" placeholder="" maxlength="255" v-model="currentSearch['url']">
                        <label for="searchUrl">{{ $t('app.views.listdois.doiTable.labelURL') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchCreatedFrom"
                            v-bind:maxDate="currentSearch['creation-date-end']"
                            v-model="currentSearch['creation-date-start']"/>
                        <label for="searchCreatedFrom">{{ $t('app.views.listdois.doiTable.labelCreatedFrom') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchCreatedTo"
                            v-bind:minDate="currentSearch['creation-date-start']"
                            v-model="currentSearch['creation-date-end']"/>
                        <label for="searchCreatedTo">{{ $t('app.views.listdois.doiTable.labelCreatedTo') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchModifiedFrom"
                             v-bind:maxDate="currentSearch['modification-date-end']"
                            v-model="currentSearch['modification-date-start']"/>
                        <label for="searchModifiedFrom">{{ $t('app.views.listdois.doiTable.labelModifiedFrom') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchModifiedTo"
                            v-bind:minDate="currentSearch['modification-date-start']"
                            v-model="currentSearch['modification-date-end']"/>
                        <label for="searchModifiedTo">{{ $t('app.views.listdois.doiTable.labelModifiedTo') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <select
                            id="searchPool" 
                            name="searchPool" 
                            size="1"
                            v-model="currentSearch['pool-id']"
                        >
                            <option value="" selected></option>
                            <option v-for="(pool) in poolArray" v-bind:key="pool.id" v-bind:value="pool.id">{{pool.name}}</option>
                        </select>
                        <label for="searchPool">{{ $t('app.views.listdois.doiTable.labelRepository') }}</label>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            name="searchButton"
                            class="btn btn-search"
                            v-on:click.prevent="onClickSearch"
                        >{{ $t('global.button.suchen.name') }}</button>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            type="reset" 
                            name="resetButton" 
                            class="btn-icon btn-reset" 
                            v-on:click.prevent="onClickReset"
                            aria-label="Delete all inputs"
                            v-tooltip="'Delete all inputs'"
                        ></button>
                    </div>
                </div>
            </fieldset>
        </section>
        
        <div class="table-container">

            <table class="table-auto">
                <colgroup>
                    <col style="width: 20px" />
                </colgroup>

                <thead>
                    <tr>
                        <th class="has-checkbox" style="width: 20px"><input type="checkbox" id="inverter" v-on:click="onClickInvertSelection"/><label for="inverter"></label></th>
                        <th><a id="searchForm:doiHeader" v-bind:class="getSortStyle('doi')" v-on:click="onClickSort('doi')" class="columnName">{{ $t('app.views.listdois.doiTable.colDOI') }}</a> </th>
                        <th><a id="searchForm:urlHeader" v-bind:class="getSortStyle('url')" href="#" v-on:click="onClickSort('url')" class="columnName">{{ $t('app.views.listdois.doiTable.colURL') }}</a> </th>
                        <th><a id="searchForm:creationDateHeader" v-bind:class="getSortStyle('creation-date')" href="#" v-on:click="onClickSort('creation-date')" class="columnName">{{ $t('app.views.listdois.doiTable.colCreated') }}</a> </th>
                        <th><a id="searchForm:modificationDateHeader" v-bind:class="getSortStyle('modification-date')" href="#" v-on:click="onClickSort('modification-date')" class="columnName">{{ $t('app.views.listdois.doiTable.colModified') }}</a> </th>
                        <th><a id="searchForm:doiPoolHeader" v-bind:class="getSortStyle('pool-name')" href="#" v-on:click="onClickSort('pool-name')" class="columnName">{{ $t('app.views.listdois.doiTable.colOwner') }}</a> </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr v-for="(entry, index) in entries" 
                        v-bind:key="entry['id']" 
                        v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                        <td class="has-checkbox" style="width: 20px">
                            <input 
                                type="checkbox" 
                                v-bind:id="entry['id']" 
                                v-on:click="selectedEntryIds[entry['id']] ? delete selectedEntryIds[entry['id']] : selectedEntryIds[entry['id']] = 1"
                                v-bind:checked="selectedEntryIds[entry['id']] === 1" />
                            <label v-bind:for="entry['id']"></label>
                        </td>
                        <td><router-link v-bind:to="{ name: 'doi', query: {id: entry['id']}}">{{ entry['doi']}}</router-link></td>
                        <td><a target="_blank" v-bind:href="entry['url']">{{ entry['url'] }}</a></td>
                        <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date'])) }}</td>
                        <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['modification-date'])) }}</td>
                        <td><router-link v-bind:to="{ name: 'repo', query: {id: entry['pool-id']}}">{{ entry['pool-name'] }}</router-link></td>                  
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-buttons" style="display: flex; justify-content: flex-end;">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="false"
            />
        </div>
        
        <div class="form-buttons"
            v-on:click.prevent="saveForm"
        >
            <button
                class="btn btn-delete"
                v-on:click.prevent="onClickDelete"
                v-bind:disabled="Object.keys(selectedEntryIds) == 0"
            >{{ $t('global.button.loeschen') }}</button>
        </div>
       
    </form>

    <Modal ref="confirmDeletion" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ $t('app.views.listdois.doiTable.modalDeleteText') }}</p>
                <ul>
                    <li v-for="(entryId) in Object.keys(this.selectedEntryIds)" v-bind:key="entryId">
                        {{ entries.find(entry => entry.id == entryId).doi }}
                    </li>
                </ul>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-delete"
                v-on:click="onClickConfirmDelete"
            >{{ $t('global.button.loeschen') }}</button>
        </template>
    </Modal>
</template>

<script>
import Logger from 'js-logger'
import DateUtils from '@/mixins/DateUtils'
import Modal from '@/components/fw/Modal'
import ETHDatePicker from '@/components/fw/ETHDatePicker'
import TableSizeSelector from '@/components/ui/TableSizeSelector'
import TableEntriesCountLabel from '@/components/ui/TableEntriesCountLabel'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'DOITable',

	mixins: [DateUtils],

    components: {
        TableEntriesCountLabel,
        TableSizeSelector,
        ETHDatePicker,
        Modal
    },

    data: () => {
		return {
			currentSearch: {
                'result-sortorder-array': [{
                    'attribute-name': 'doi',
                    'ascending-order': true
                }],
                'rs-size': 100,
                'rs-first': 0
            },
            entriesRsSize: 0,
            poolArray: [],
            entriesTotal: 0,
			entries: [],
            selectedEntryIds: {},
			restServices: new DOIOnlineServices()
		}
	},

    mounted() {
        this.currentSearch['creation-date-start'] = this.$route.query.from
        this.currentSearch['creation-date-end'] = this.$route.query.to
        this.currentSearch['modification-date-start'] = this.$route.query.modstart
        this.currentSearch['modification-date-end'] = this.$route.query.modend
        this.currentSearch['doi'] = this.$route.query.doi
        this.currentSearch['url'] = this.$route.query.url
        this.currentSearch['pool-id'] = this.$route.query.repoId
        let size =  this.$store.getters.getObjectStore['doiTableSize']
        if (size) {
            this.currentSearch['rs-size'] = parseInt(size)
        }

        this.loadPools()
		this.searchEntries(this.currentSearch)
	},

    methods: {
        onClickSearch() {
            this.$store.commit('addToObjectStore', {
				key: 'doiTableSize',
				value: this.currentSearch['rs-size']
			})

            this.searchEntries(this.currentSearch)
        },
        onClickReset() {
            this.selectedEntryIds = {}
            this.currentSearch = {
                'result-sortorder-array': [{
                    'attribute-name': 'creation-date',
                    'ascending-order': false
                }],
                'creation-date-start': null,
                'creation-date-end': null,
                'rs-size': 100,
                'rs-first': 0
            }
        },
        onClickDelete() {
            this.$refs.confirmDeletion.openModal(this.$t('app.views.listdois.doiTable.modalDeleteTitle'))
        },
        onClickConfirmDelete() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            let idArray = []
            Object.keys(this.selectedEntryIds).forEach(key => idArray.push(key))

            this.restServices.deleteDOIs(idArray,
                () => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.debug('REST deleteDOIs(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.warn('REST deleteDOIs call: ' + error)
                    return true
                }
            )
        },
        onClickInvertSelection() {
            this.entries.forEach(entry => {
                if (this.selectedEntryIds[entry['id']]) {
                    delete this.selectedEntryIds[entry['id']]
                } else {
                    this.selectedEntryIds[entry['id']] = 1
                }
            })
        },
        searchEntries(doiSucheIN) {
			this.entries = []
            this.selectedEntryIds = {}
            this.entriesRsSize = parseInt(doiSucheIN['rs-size'])

            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            if (this.currentSearch['creation-date-end']) {
                this.currentSearch['creation-date-end'] = this.currentSearch['creation-date-end'].replace('00:00:00', '23:59:59')
            }

			this.restServices.searchDOI(doiSucheIN,
				(response) => {
                    this.entriesTotal = response.data.total
					this.entries = response.data['doi-array']
					loader.hide()

					Logger.debug('REST searchDOI(...) called result: OK')
				},
				(error) => {
					this.entries = []
					loader.hide()

					Logger.warn('REST searchDOI call: ' + error)
					return true
				}
			)
		},
        loadPools() {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.searchPool({
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true}
                    ]
                }, 
                (response) => {
                    this.poolArray = response.data['pool-array']

                    loader.hide()
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        onGotoPage(pageNr) {
            this.currentSearch['rs-first'] = this.entriesRsSize * (pageNr - 1)
            this.searchEntries(this.currentSearch)
        },
        onClickSort(attrName) {
            if (this.currentSearch['result-sortorder-array'].length == 0) {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }    
            } else if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                 if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                    this.currentSearch['result-sortorder-array'][0]['ascending-order'] = false
                 } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                     this.currentSearch['result-sortorder-array'] = []
                 } 
            } else {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }
            }

            this.searchEntries(this.currentSearch)
        },
        getSortStyle(attrName) {
            if (this.currentSearch['result-sortorder-array'].length > 0) {
                if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                    if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                        return 'sort-up'
                    } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                        return 'sort-down'
                    }
                }
            }

            return null
        }
    }
}
</script>

<style>

</style>
