<template>
	<Breadcrumb 
		priority="10" 
		titleId="app.views.listdois.breadcrumb" 
		v-bind:route="this.$router.currentRoute" />

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('app.views.listdois.title') }}</h1>
		</section>

		<section id="main-content">
			<DOITable />
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'
import DOITable from './DOITable'

export default {
	name: 'ListDOIs',

	components: {
		Breadcrumb,
		DOITable
	},
	
	props: {
		from: null,
		to: null,
		modstart: null,
		modend: null,
		doi: null,
		url: null,
		repoId: null
	},

	computed: {
		username() {
			if (this.$store.getters.getCurrentUser) {
				return this.$store.getters.getCurrentUser.givenName + ' ' + this.$store.getters.getCurrentUser.surname
			}

			return "?"
		}
	}
}
</script>
