<template>
	<transition name="modal-fade">
		<div class="modal" v-if="isModalOpen">
			<div class="modal-wrapper" v-on:click="closeModal(false)">
				<div
					class="modal-container"
					v-bind:class="{ 'has-fixed-footer': false }"
					role="dialog"
					aria-modal="true"
					aria-labelledby="modalTitle"
					aria-describedby="modalDescription"
				>
					<header class="modal-header" id="modalTitle">
						<p>{{ $t('components.fw.confirmBox.title') }}</p>

						<button
							class="btn-modal-close"
							v-on:click="closeModal(false)"
							aria-label="Modal schliessen"
						/>
					</header>
					<main class="modal-body" id="modalDescription">
						<slot name="modalBody">
							<p>{{ modalContent }}</p>
						</slot>
					</main>
					<footer class="modal-footer">
						<slot name="modalFooter">
							<button type="button" class="btn btn-submit" v-on:click="closeModal(true)" v-bind:aria-label="this.$t('components.fw.confirmBox.ok.aria-label')">{{ $t('components.fw.confirmBox.ok.label') }}</button>
							<button type="button" class="btn btn-close" v-on:click="closeModal(false)" v-bind:aria-label="this.$t('components.fw.confirmBox.cancel.aria-label')">{{ $t('components.fw.confirmBox.cancel.label') }}</button>
						</slot>
					</footer>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'ConfirmBox',

	data: () => {
		return {
			isModalOpen: false,
			modalContent: "Modal Content Text",
			okFunction: null,
			cancelFunction: null
		}
	},

	methods: {
		closeModal(isOk) {
			this.isModalOpen = false
			document.querySelector('body').classList.remove('overflow-hidden')

			if (isOk && this.okFunction) {
				this.okFunction()
			} else if (this.cancelFunction) {
				this.cancelFunction()
			}
		},
		openModal(contentText, okFunction, cancelFunction) {
			this.isModalOpen = true
			this.modalContent = contentText
			this.okFunction = okFunction
			this.cancelFunction = cancelFunction
			document.querySelector('body').classList.add('overflow-hidden')
		}
	}
};
</script>

<style lang="scss">

.has-fixed-footer {

	.modal-content {
		padding-bottom: 7rem;
	}

	.modal-footer {
		position: fixed;
		background: white;
		bottom: 4rem;
		width: 44rem;
		height: 6rem;
	}
}

</style>
