<template>
    <duet-date-picker
        v-bind:identifier="id"
        v-bind:localization.prop="locale"
        v-bind:disabled="disabled"
        v-bind:max="maxDate"
        v-bind:min="minDate"
        v-bind:value="currentValue"
        ref="datePicker">
    </duet-date-picker>
</template>

<script>
import DateUtils from '@/mixins/DateUtils'

export default {
	name: 'ETHDatePicker',

	mixins: [DateUtils],

    data: () => {
		return {
            currentValue: null,
            minDateObj: null,
            maxDateObj: null,
			locale: {
                buttonLabel: '',
                placeholder: '',
                selectedDateMessage: 's',
                prevMonthLabel: '',
                nextMonthLabel: '',
                monthSelectLabel: '',
                yearSelectLabel: '',
                closeLabel: '',
                calendarHeading: '',
                dayNames: [],
                monthNames: [],
                monthNamesShort: []
            }
		}
	},

	props: {
		id: {
			type: String,
			default: 'datePicker'
		},
        i18nPrefix: {
            type: String,
			default: 'components.fw.ethDatePicker'
        },
        disabled: {
            type: Boolean,
            default: false
        },
        maxDate: {
            type: String,
            default: null
        },
        minDate: {
            type: String,
            default: null
        },
        modelValue: null
    },

    emits: {
        'update:modelValue': String
    },
    
    mounted() {
        this.currentValue = this.getISODateStringFromDate(this.getDateFromISODateString(this.modelValue))
        this.minDateObj = this.getDateFromISODateString(this.minDate)
        this.maxDateObj = this.getDateFromISODateString(this.maxDate)

        let self = this
        this.$refs.datePicker.dateAdapter = {
            parse(dateString = "") {
                const matches = dateString.match(/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/)
                if (matches) {
                    return self.getDateFromLocalizedDateString(dateString)
                }

                return null
            },
            format(date) {
                return self.getLocalizedDateStringFromDate(date)
            }
        },
        this.$refs.datePicker.isDateDisabled = this.isDateDisabled
        this.$refs.datePicker.addEventListener("duetChange", function(event) {
            self.onValueChange(event)
        });
        this.locale = {
            buttonLabel: this.$t(this.i18nPrefix + '.buttonLabel'),
            placeholder: this.$t(this.i18nPrefix + '.placeholder'),
            selectedDateMessage: this.$t(this.i18nPrefix + '.selectedDateMessage'),
            prevMonthLabel: this.$t(this.i18nPrefix + '.prevMonthLabel'),
            nextMonthLabel: this.$t(this.i18nPrefix + '.nextMonthLabel'),
            monthSelectLabel: this.$t(this.i18nPrefix + '.monthSelectLabel'),
            yearSelectLabel: this.$t(this.i18nPrefix + 'yearSelectLabel'),
            closeLabel: this.$t(this.i18nPrefix + '.closeLabel'),
            calendarHeading: this.$t(this.i18nPrefix + '.calendarHeading'),
            dayNames: this.$tm(this.i18nPrefix + '.dayNames'),
            monthNames: this.$tm(this.i18nPrefix + '.monthNames'),
            monthNamesShort: this.$tm(this.i18nPrefix + '.monthNamesShort')
		}
    },

    watch: {
        minDate: function(newMinDate) {
            this.minDateObj = this.getDateFromISODateString(newMinDate)
        },
        maxDate: function(newMaxDate) {
            this.maxDateObj = this.getDateFromISODateString(newMaxDate)
        },
        modelValue: function(newModelValue) {
            this.currentValue = this.getISODateStringFromDate(this.getDateFromISODateString(newModelValue))
        }
    },

    methods: {
        onValueChange(event) {
            this.currentValue = event.detail.value

            if (event.detail.valueAsDate) {
                this.$emit('update:modelValue', event.detail.value + 'T00:00:00')
            } else {
                this.$emit('update:modelValue', null)
            }
        },
        isDateDisabled(date) {
            if (this.minDateObj) {
                if (date < this.minDateObj) {
                    return true
                }
            }

            if (this.maxDateObj) {
                if (date > this.maxDateObj) {
                    return true
                }
            }

            return false
        }
    }
}
</script>

<style lang="scss">

    // Customization


    .duet-date__table-header {
        text-align: center;
        font-size: 1.1rem;
        font-weight: normal;
        padding: 2px;
        padding-top: 4px;
    }

    .duet-date__cell {
        padding: 2px;
    }

    .duet-date__day {
        font-size: 1.3rem;
    }

    .duet-date__input {
        font-size: 14px;
        height: 40px;

        &:hover {
            border-color: #222;
        }
        
        &:focus {
            box-shadow: 0 0 0 3px #fff, 0 0 3px 5px var(--duet-color-primary);
        }
    }

    .duet-date__toggle {
        width: 40px;
    }

    :root {
        --duet-color-primary: #215caf;
        --duet-color-text: #333;
        --duet-color-text-active: #fff;
        --duet-color-placeholder: #ccc;
        --duet-color-button: #f5f5f5;
        --duet-color-surface: #fff;
        --duet-color-overlay: rgba(0, 0, 0, 0.8);
        --duet-color-border: #bbb;

        --duet-font: "DIN-regular", Helvetica, Arial, sans-serif;
        --duet-font-normal: 400;
        --duet-font-bold: 600;

        --duet-radius: 2px;
        --duet-z-index: 600;
    }
</style>