<template>
    <transition name="fade">
        <div class="dc-input" v-if="editText || !disabled">
            <input
                v-if="required && itemList.length == 0"
                v-bind:id="id + '.editText'"
                type="text"
                class="default"
                v-bind:name="id + '.editText'"
                v-model="editText" 
                v-bind:placeholder="placeholder"
                required
            />
            <input
                v-if="!required || itemList.length > 0"
                v-bind:id="id + '.editText'"
                type="text"
                class="default"
                v-bind:name="id + '.editText'"
                v-model="editText" 
                v-bind:placeholder="placeholder"
            />
            <button 
                v-on:click.prevent="onClickAdd"
                class="btn-icon btn-plus"
                v-bind:aria-label="this.$t('components.fw.ethListEditor.buttonAdd')"
                v-tooltip="this.$t('components.fw.ethListEditor.buttonAddTT')"
            ></button>
        </div>
    </transition>
    <label 
        v-if="editText || !disabled"
        class="dc-label" 
        v-bind:for="id + '.editText'"
    >{{ labeltext }}</label>
    <p v-else
        class="dc-title"
    >{{ labeltext }}</p>

    <div class="dc-items">
        <ul v-if="itemList == 0">
            <li>--</li>
        </ul>
        <ul v-else>
            <li v-for="(listItem, index) in itemList" v-bind:key="index" v-bind:value="index">
                <div>- {{listItem}}</div>
                <button 
                    v-on:click.prevent="onClickRemove(index)"
                    class="btn-icon-small btn-cancel" 
                    v-if="!disabled"
                    v-tooltip="this.$t('components.fw.ethListEditor.buttonDelete')"
                ></button>
            </li>
        </ul>
    </div>
</template>

<script>  
export default {
	name: 'ETHListEditor',

    data: () => {
		return {
            itemList: [],
            editText: null,
            selectedItem: null
		}
	},

	props: {
		id: {
			type: String,
			default: 'listEditor'
        },
        placeholder: {
			type: String,
			default: '--'
		},
        disabled: {
            type: Boolean,
            default: false
        },
        listSize: {
            type: Number,
            default: 4
        },
        modelValue: null,
        required: {
            type: Boolean,
            default: false
        },
        labeltext: {
			type: String,
			default: '--'
        }
	},

    emits: {
        'list-changed': Array,
        'update:modelValue': Array
    },

    mounted() {
        this.itemList = this.modelValue != null ? this.modelValue : []
    },

    watch: {
        modelValue: function(newModelValue) {
            this.itemList = this.modelValue != null ? newModelValue : []
        }
    },

    methods: {
        onClickAdd() {
            this.itemList.push(this.editText)
            this.editText = null

            this.$emit('update:modelValue', this.itemList)
            this.$emit('list-changed', this.itemList)
        },
        onClickRemove(index) {
            this.itemList.splice(index, 1)
            this.selectedItem = null

            this.$emit('update:modelValue', this.itemList)
            this.$emit('list-changed', this.itemList)
        }
    }
}
</script>

<style scoped lang="scss">


select {
    background: none;
    height: auto;
    padding-top: 1rem;
}

.dc-items, .dc-input {
    display:flex;
    //margin-bottom: 1rem;
}

.dc-input {
    button {
        margin-left: -37px
    }

}

.dc-title {
    color: black;
    margin-bottom: 0;
    font-family: "DIN-medium"
}

.dc-items {
    margin-top: 0rem;

    ul {
        margin-left: 0;
        width: 100%;

    }
    
    li {
        display: flex;
        margin: 0.1rem 0 0.2rem 0;
        //border-bottom: 1px solid #ccc;

        &:hover {
            background-color: #eee;
        }

        div {
            width: calc(100% - 2rem);
        }
        
        button {
            margin: 0;
            height: 2rem;
            width: 3.8rem;
            border-color: transparent;
            background-color: transparent;

            &:hover {
                background-color: #08407e;
            }
        }
    }
}



</style>
