<template>
    <textarea 
        v-bind:id="id"
        v-bind:name="name" 
        v-bind:disabled="disabled"
        v-model="text" 
        v-on:input="onInput"
        ref=textarea
    ></textarea>
</template>

<script>
export default {
	name: 'ETHTextarea',

    data: () => {
		return {
            text: ''
		}
	},

    props: {
		id: {
			type: String,
			default: 'ethTextarea'
		},
        name: {
			type: String,
			default: 'ethTextarea'
		},
        disabled: {
            type: Boolean,
            default: false
        },
        modelValue: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            default: ''
        },
        required: {
            type: Boolean,
            default: false
        },
        minSize: {
            type: String,
            default: '300'
        }
	},

    emits: {
        'update:modelValue': String
    },

    mounted() {
        this.text = this.modelValue ? this.modelValue : this.value
        this.setStyle(this.minSize)
    },

    watch: {
        modelValue: function(newModelValue) {
            this.text = this.modelValue ? newModelValue : this.value
            this.setStyle(this.minSize)
        }
    },

    methods: {
        onInput() {
            this.setStyle()
            this.$emit('update:modelValue', this.text)
        },
        setStyle() {
            this.$refs.textarea.style.height = Math.max(this.$refs.textarea.scrollHeight, this.minSize) + 'px'
        }
    }
}
</script>
