<template>
	<Breadcrumb
		priority="99"
		titleId="components.fw.imprint.breadcrumb"
		v-bind:route="this.$router.currentRoute"
		v-bind:goBack="triggerGoBack"
	/>

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('components.fw.imprint.heading') }}</h1>

			<section id="main-content">
				<table>
					<tr>
						<td>{{ $t('components.fw.imprint.herausgeber') }}</td>
						<td>{{ $t('components.fw.imprint.direktor', ['Dr. Rui Brandao']) }}</td>
					</tr>
					<tr>
						<td>{{ $t('components.fw.imprint.informatik') }}</td>
						<td>{{ $t('components.fw.imprint.leiterItSws', ['Dimitrios Fazzone']) }}</td>
					</tr>
				</table>
				<br/>
				
				<h2>{{ $t('components.fw.imprint.konzept') }}</h2>
				<table>
					<tr>
						<td>{{ $t('components.fw.imprint.projektleitung') }}</td>
						<td>{{ $t('components.fw.imprint.mitgliedIdSws', ['Davor Kupresak']) }}</td>
					</tr>
					<tr>
						<td>{{ $t('components.fw.imprint.implementierung') }}</td>
						<td>{{ $t('components.fw.imprint.mitgliedIdSws', ['Daniel Regenass']) }}</td>
					</tr>
					<tr>
						<td>{{ $t('components.fw.imprint.qualitaetssicherung') }}</td>
						<td>{{ $t('components.fw.imprint.mitgliedIdSws', ['Patrik Horat, Zeljko Rakazovic']) }}</td>
					</tr>
					<tr>
						<td>{{$t('components.fw.imprint.design')}}</td>
						<td>{{$t('components.fw.imprint.designFirma')}}</td>
					</tr>
				</table>

				<h2>{{ $t('components.fw.imprint.moreInfoTitle') }}</h2>
				<table>
					<tr>
						<td><a v-bind:href="$t('components.fw.imprint.imprintUrl')" target="_blank">{{ $t('components.fw.imprint.moreInfo') }}</a></td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</section>
		</section>

		<section class="content-next">
			<div class="form-buttons">
				<a 
					href="#" 
					class="btn btn-back" 
					v-on:click.prevent="triggerGoBack = true"
				>{{$t('global.button.zurueck')}}</a>
			</div>
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'

export default {
	name: 'Imprint',

	components: {
		Breadcrumb
	},

	data: () => {
		return {
			triggerGoBack: false
		}
	}
}
</script>

