<template>
	<transition name="modal-fade">
		<div class="modal" v-if="isModalOpen">
			<div class="modal-wrapper" v-on:click="closeModal(false)">
				<div
					class="modal-container"
					v-bind:class="{ 'has-fixed-footer': isModalFooterFixed }"
					role="dialog"
					aria-modal="true"
					aria-labelledby="modalTitle"
					aria-describedby="modalDescription"
				>
					<header class="modal-header" id="modalTitle">
						<p>{{ modalTitle}}</p>

						<button
							v-if="isCloseButtonVisible"
							class="btn-modal-close"
							v-on:click="closeModal(true)"
							aria-label="Modal schliessen"
						/>
					</header>
					<main class="modal-body" id="modalDescription">
						<slot name="modalBody">
							<p>Platzhalter Body</p>
						</slot>
					</main>
					<footer class="modal-footer" v-if="isModalFooterOpen">
						<slot name="modalFooter">
							<button type="button" class="btn btn-close" v-on:click="close" v-bind:aria-label="this.$t('global.button.schliessen.ariaLabel')">{{ $t('global.button.schliessen.name') }}</button>
						</slot>
					</footer>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
export default {
	name: 'Modal',

	data: () => {
		return {
			isModalOpen: false,
			modalTitle: "Modal Title"
		}
	},

	props: {
		isModalFooterOpen: {
			type: Boolean,
			default: false
		},
		isModalFooterFixed: {
			type: Boolean,
			default: false
		},
		isCloseButtonVisible: {
			type: Boolean,
			default: true
		},
		isAutoClose: {
			type: Boolean,
			default: true
		}
	},

	methods: {
		closeModal(buttonClicked) {
			if (buttonClicked || this.isAutoClose) {
				this.isModalOpen = false
				document.querySelector('body').classList.remove('overflow-hidden')
			}
		},
		openModal(titleString) {
			this.isModalOpen = true
			this.modalTitle = titleString
			document.querySelector('body').classList.add('overflow-hidden')
		}
	}
};
</script>

<style lang="scss">

.has-fixed-footer {

	.modal-content {
		padding-bottom: 7rem;
	}

	.modal-footer {
		position: fixed;
		background: white;
		bottom: 4rem;
		width: 44rem;
		height: 6rem;
	}
}

</style>
