<template>
    <form id="searchForm" name="searchForm">       
    
        <div class="heading-container" style="border: none;">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="true"
            />
        </div>

        <section class="form-container">
            <fieldset>
                <div class="form-group width-full">
                    <div class="form-cell-1">
                        <TableSizeSelector
                            id="searchMaxResults" 
                            v-model="currentSearch['rs-size']"
                        />
                        <label for="searchMaxResults">{{ $t('app.views.listerrors.errorTable.labelItemsPerPage') }}</label>
                    </div>
                    <div class="form-cell-3">
                        <input type="text" id="searchErrorCode" maxlength="128" placeholder="" v-model="currentSearch['error-code']">
                        <label for="searchErrorCode">{{ $t('app.views.listerrors.errorTable.labelErrorCode') }}</label>
                    </div>
                    <div class="form-cell-3">
                        <input type="text" id="searchErrorMsg"  maxlength="512" placeholder="" v-model="currentSearch['error-msg']">
                        <label for="searchErrorMsg">{{ $t('app.views.listerrors.errorTable.labelErrorMsg') }}</label>
                    </div>
                     <div class="form-cell-1">
                        <select
                            id="searchHandled" 
                            name="searchHandled" 
                            size="1"
                            v-model="currentSearch['handled']"
                        >
                            <option value="" selected></option>
                            <option value="1">{{ $t('app.views.listerrors.errorTable.codeHandled') }}</option>
                            <option value="0">{{ $t('app.views.listerrors.errorTable.codeUnhandled') }}</option>
                        </select>
                        <label for="searchHandled">{{ $t('app.views.listerrors.errorTable.labelHandled') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchCreatedFrom"
                            v-bind:maxDate="currentSearch['creation-date-end']"
                            v-model="currentSearch['creation-date-start']"/>
                        <label for="searchCreatedFrom">{{ $t('app.views.listerrors.errorTable.labelCreatedFrom') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <ETHDatePicker 
                            id="searchCreatedTo"
                            v-bind:minDate="currentSearch['creation-date-start']"
                            v-model="currentSearch['creation-date-end']"/>
                        <label for="searchCreatedTo">{{ $t('app.views.listerrors.errorTable.labelCreatedTo') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchErrorDoi" maxlength="255" placeholder="" v-model="currentSearch['doi']">
                        <label for="searchErrorDoi">{{ $t('app.views.listerrors.errorTable.labelErrorDoi') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <select
                            id="searchPool" 
                            name="searchPool" 
                            size="1"
                            v-model="currentSearch['pool-id']"
                        >
                            <option value="" selected></option>
                            <option v-for="(pool) in poolArray" v-bind:key="pool.id" v-bind:value="pool.id">{{pool.name}}</option>
                        </select>
                        <label for="searchPool">{{ $t('app.views.listerrors.errorTable.labelRepository') }}</label>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            name="searchButton"
                            class="btn btn-search"
                            v-on:click.prevent="onClickSearch"
                        >{{ $t('global.button.suchen.name') }}</button>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            type="reset" 
                            name="resetButton" 
                            class="btn-icon btn-reset" 
                            v-on:click.prevent="onClickReset"
                            v-bind:aria-label="$t('app.views.listerrors.errorTable.labelDeleteInput')"
                            v-tooltip="$t('app.views.listerrors.errorTable.labelDeleteInput')"
                        ></button>
                    </div>
                </div>
            </fieldset>
        </section>
            
        <div class="table-container">

            <table class="table-auto">
                <colgroup>
                    <col style="width: 40px" />
                </colgroup>

                <thead>
                    <tr>
                        <th class="has-checkbox"><input type="checkbox" id="inverter" v-on:click="onClickInvertSelection"/><label for="inverter"></label></th>
                        <th><a id="searchForm:creationDateHeader" v-bind:class="getSortStyle('creation-date')" v-on:click="onClickSort('creation-date')" class="columnName">{{ $t('app.views.listerrors.errorTable.colTime') }}</a> </th>
                        <th><a id="searchForm:errorDoi" v-bind:class="getSortStyle('doi')" href="#" v-on:click="onClickSort('doi')" class="columnName">{{ $t('app.views.listerrors.errorTable.colDoi') }}</a> </th>
                        <th><a id="searchForm:errorCodeHeader" v-bind:class="getSortStyle('error-code')" href="#" v-on:click="onClickSort('error-code')" class="columnName">{{ $t('app.views.listerrors.errorTable.colError') }}</a> </th>
						<th><a id="searchForm:errorMsgHeader" v-bind:class="getSortStyle('error-msg')" href="#" v-on:click="onClickSort('error-msg')" class="columnName">{{ $t('app.views.listerrors.errorTable.colMsg') }}</a> </th>
                        <th class="cell-handled"><a id="searchForm:handledHeader" v-bind:class="getSortStyle('handled')" href="#" v-on:click="onClickSort('handled')" class="columnName">{{ $t('app.views.listerrors.errorTable.colHandled') }}</a> </th>
                        <th><a id="searchForm:poolNameHeader" v-bind:class="getSortStyle('pool-name')" href="#" v-on:click="onClickSort('pool-name')" class="columnName">{{ $t('app.views.listerrors.errorTable.colRepository') }}</a> </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr v-for="(entry, index) in entries" 
                        v-bind:key="entry['id']" 
                        v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                        <td class="has-checkbox">
                            <input 
                                type="checkbox" 
                                v-bind:id="entry['id']" 
                                v-on:click="selectedEntryIds[entry['id']] ? delete selectedEntryIds[entry['id']] : selectedEntryIds[entry['id']] = 1"
                                v-bind:checked="selectedEntryIds[entry['id']] === 1" />
                            <label v-bind:for="entry['id']"></label>
                        </td>
                        <td><router-link v-bind:to="{ name: 'error', query: {id: entry['id']}}">{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date'])) }}</router-link></td>
                        <td>{{ entry['doi']}}</td>
                        <td>{{ entry['error-code']}}</td>
                        <td>{{ ellipseIfLong(entry['error-msg'], 80) }}</td>
                        <td class="cell-handled"><span v-if="entry['handled']==1">&check;</span><span v-else>-</span></td>
                        <td><router-link v-bind:to="{ name: 'repo', query: {id: entry['pool-id']}}">{{ entry['pool-name'] }}</router-link></td>                   
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="form-buttons" style="justify-content: flex-end">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="false"
            />
        </div>
        
        <div class="form-buttons"
            v-on:click.prevent="saveForm"
        >
            <button
                class="btn btn-submit"
                v-on:click.prevent="onClickSetHandled"
                v-bind:disabled="Object.keys(selectedEntryIds) == 0"
            >{{ $t('app.views.listerrors.errorTable.labelButtonHandled') }}</button>
        </div>
       
    </form>
</template>

<script>
import Logger from 'js-logger'
import DateUtils from '@/mixins/DateUtils'
import ETHDatePicker from '@/components/fw/ETHDatePicker'
import TableSizeSelector from '@/components/ui/TableSizeSelector'
import TableEntriesCountLabel from '@/components/ui/TableEntriesCountLabel'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'ErrorTable',

	mixins: [DateUtils],

    components: {
        TableEntriesCountLabel,
        TableSizeSelector,
        ETHDatePicker
    },

    data: () => {
		return {
			currentSearch: {
                'result-sortorder-array': [{
                    'attribute-name': 'creation-date',
                    'ascending-order': false
                }],
                'creation-date-start': null,
                'creation-date-end': null,
                'rs-size': 100,
                'rs-first': 0
            },
            entriesRsSize: 0,
            poolArray: [],
            entriesTotal: 0,
			entries: [],
            selectedEntryIds: {},
			restServices: new DOIOnlineServices()
		}
	},

    mounted() {
        this.currentSearch['creation-date-start'] = this.$route.query.from
        this.currentSearch['creation-date-end'] = this.$route.query.to
        this.currentSearch['error-msg'] = this.$route.query.msg
        this.currentSearch['error-code'] = this.$route.query.code
        this.currentSearch['handled'] = this.$route.query.handled
        this.currentSearch['pool-id'] = this.$route.query.repoId
        this.currentSearch['doi'] = this.$route.query.doi
        let size =  this.$store.getters.getObjectStore['errorTableSize']
        if (size) {
            this.currentSearch['rs-size'] = parseInt(size)
        }

        this.loadPools()
		this.searchEntries(this.currentSearch)
	},

    methods: {
        onClickSearch() {
            this.$store.commit('addToObjectStore', {
				key: 'errorTableSize',
				value: this.currentSearch['rs-size']
			})

            this.searchEntries(this.currentSearch)
        },
        onClickReset() {
            this.selectedEntryIds = {}
            this.currentSearch = {
                'result-sortorder-array': [{
                    'attribute-name': 'creation-date',
                    'ascending-order': false
                }],
                'creation-date-start': null,
                'creation-date-end': null,
                'rs-size': 100,
                'rs-first': 0
            }
        },
        onClickSetHandled() {
            this.entries.forEach(entry => {
                if (this.selectedEntryIds[entry['id']]) {
                    if (entry['handled'] != 1) {
                        entry['handled'] = 1
                        this.updateError(entry)
                    }
                }
            })

            this.searchEntries(this.currentSearch)
        },
        onClickInvertSelection() {
            this.entries.forEach(entry => {
                if (this.selectedEntryIds[entry['id']]) {
                    delete this.selectedEntryIds[entry['id']]
                } else {
                    this.selectedEntryIds[entry['id']] = 1
                }
            })
        },
        searchEntries(errorSucheIN) {
			this.entries = []
            this.selectedEntryIds = {}
            this.entriesRsSize = parseInt(errorSucheIN['rs-size'])

            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            if (this.currentSearch['creation-date-end']) {
                this.currentSearch['creation-date-end'] = this.currentSearch['creation-date-end'].replace('00:00:00', '23:59:59')
            }

			this.restServices.searchError(errorSucheIN,
				(response) => {
                    this.entriesTotal = response.data.total
					this.entries = response.data['error-array']
					loader.hide()

					Logger.debug('REST searchErrors(...) called result: OK')
				},
				(error) => {
					this.entries = []
					loader.hide()

					Logger.warn('REST searchErrors call: ' + error)
					return true
				}
			)
		},
        loadPools() {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.searchPool({
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true}
                    ]
                }, 
                (response) => {
                    this.poolArray = response.data['pool-array']

                    loader.hide()
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        updateError(entry) {
            this.restServices.updateError(
                entry.id, entry,
                () => {
                    Logger.debug('REST updateError(...) called result: OK')
                },
                (error) => {
                    this.restError = error.response.data
                    window.scrollTo(0, 0)

                    Logger.warn('REST updateError call failed with '
                        + error.response.data['message-id'] + ": " + error.response.data['message'])
                }
            )
        },
        onGotoPage(pageNr) {
            this.currentSearch['rs-first'] = this.entriesRsSize * (pageNr - 1)
            this.searchEntries(this.currentSearch)
        },
        onClickSort(attrName) {
            if (this.currentSearch['result-sortorder-array'].length == 0) {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }    
            } else if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                 if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                    this.currentSearch['result-sortorder-array'][0]['ascending-order'] = false
                 } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                     this.currentSearch['result-sortorder-array'] = []
                 } 
            } else {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }
            }

            this.searchEntries(this.currentSearch)
        },
        getSortStyle(attrName) {
            if (this.currentSearch['result-sortorder-array'].length > 0) {
                if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                    if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                        return 'sort-up'
                    } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                        return 'sort-down'
                    }
                }
            }

            return null
        },
        ellipseIfLong(text, maxLen) {
            if (text && text.length > maxLen) {
                return text.substring(0, maxLen - 3) + '...'
            }

            return text
        }
    }
}
</script>
