<template>
	<Breadcrumb 
		priority="10" 
		titleId="app.views.listerrors.breadcrumb" 
		v-bind:route="this.$router.currentRoute" />

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('app.views.listerrors.title') }}</h1>
		</section>

		<section id="main-content">
			<ErrorTable />
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'
import ErrorTable from './ErrorTable'

export default {
	name: 'ListErrors',

	components: {
		Breadcrumb,
		ErrorTable
	},

	props: {
		from: null,
		to: null,
		msg: null,
		code: null,
		handled: null,
		repoId: null
	},

	computed: {
		username() {
			if (this.$store.getters.getCurrentUser) {
				return this.$store.getters.getCurrentUser.givenName + ' ' + this.$store.getters.getCurrentUser.surname
			}

			return "?"
		}
	}
}
</script>
