<template>
	<Breadcrumb 
		priority="10" 
		titleId="app.views.listusers.breadcrumb" 
		v-bind:route="this.$router.currentRoute" />

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('app.views.listusers.title') }}</h1>
		</section>

		<section id="main-content">
			<UserTable />
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'
import UserTable from './UserTable'

export default {
	name: 'ListUsers',

	components: {
		Breadcrumb,
		UserTable
	},
	
	props: {
		firstname: null,
		lastname: null,
		uniqueId: null,
		institution: null,
		admin: null,
		repoId: null
	},

	computed: {
		username() {
			if (this.$store.getters.getCurrentUser) {
				return this.$store.getters.getCurrentUser.givenName + ' ' + this.$store.getters.getCurrentUser.surname
			}

			return "?"
		}
	}
}
</script>
