<template>
    <form id="searchForm" name="searchForm">       

        <div class="heading-container" style="border: none;">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="true"
            />
        </div>

        <section class="form-container">
            <fieldset>
                <div class="form-group width-full">
                    <div class="form-cell-1">
                        <TableSizeSelector
                            id="searchMaxResults" 
                            v-model="currentSearch['rs-size']"
                        />
                        <label for="searchMaxResults">{{ $t('app.views.listusers.userTable.labelItemsPerPage') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchName" maxlength="255" placeholder="" v-model="currentSearch['lastname']">
                        <label for="searchName">{{ $t('app.views.listusers.userTable.labelLastname') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchEMail" maxlength="255" placeholder="" v-model="currentSearch['email']">
                        <label for="searchEMail">{{ $t('app.views.listusers.userTable.labelEMail') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchInstitution" maxlength="255" v-model="currentSearch['institution']">
                        <label for="searchInstitution">{{ $t('app.views.listusers.userTable.labelInstitution') }}</label>
                    </div>
                    <div class="form-cell-1">
                        <select
                            id="searchRole" 
                            name="searchRole" 
                            size="1"
                            v-model="currentSearch['admin']"
                        >
                            <option value="" selected></option>
                            <option value="1">{{ $t('app.roles.admin') }}</option>
                            <option value="0">{{ $t('app.roles.user') }}</option>
                        </select>
                        <label for="searchRole">{{ $t('app.views.listusers.userTable.labelRole') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchUniqueId" maxlength="255" v-model="currentSearch['unique-id']">
                        <label for="searchUniqueId">{{ $t('app.views.listusers.userTable.labelUniqueId') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <select
                            id="searchPool" 
                            name="searchPool" 
                            size="1"
                            v-model="currentSearch['pool-id']"
                        >
                            <option value="" selected></option>
                            <option v-for="(pool) in poolArray" v-bind:key="pool.id" v-bind:value="pool.id">{{pool.name}}</option>
                        </select>
                        <label for="searchPool">{{ $t('app.views.listusers.userTable.labelRepository') }}</label>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            name="searchButton"
                            class="btn btn-search"
                            v-on:click.prevent="onClickSearch"
                        >{{ $t('global.button.suchen.name') }}</button>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            type="reset" 
                            name="resetButton" 
                            class="btn-icon btn-reset" 
                            v-on:click.prevent="onClickReset"
                            aria-label="Delete all inputs"
                            v-tooltip="'Delete all inputs'"
                        ></button>
                    </div>
                </div>
            </fieldset>
        </section>
            
        <div class="table-container">

            <table class="table-auto">
                <colgroup>
                    <col style="width: 40px" />
                </colgroup>

                <thead>
                    <tr>
                        <th class="has-checkbox"><input type="checkbox" id="inverter" v-on:click="onClickInvertSelection"/><label for="inverter"></label></th>
                        <th><a id="searchForm:nameHeader" v-bind:class="getSortStyle('lastname')" v-on:click="onClickSort('lastname')" class="columnName">{{ $t('app.views.listusers.userTable.colName') }}</a> </th>
                        <th><a id="searchForm:emailHeader" v-bind:class="getSortStyle('email')" href="#" v-on:click="onClickSort('email')" class="columnName">{{ $t('app.views.listusers.userTable.colEMail') }}</a> </th>
                        <th><a id="searchForm:institutionHeader" v-bind:class="getSortStyle('institution')" href="#" v-on:click="onClickSort('institution')" class="columnName">{{ $t('app.views.listusers.userTable.colInstitution') }}</a> </th>
                        <th class="cell-admin"><a id="searchForm:adminHeader" v-bind:class="getSortStyle('admin')" href="#" v-on:click="onClickSort('admin')" class="columnName">{{ $t('app.views.listusers.userTable.colAdmin') }}</a> </th>
                        <th><a id="searchForm:uniqueIdHeader" v-bind:class="getSortStyle('unique-id')" href="#" v-on:click="onClickSort('unique-id')" class="columnName">{{ $t('app.views.listusers.userTable.colUniqueId') }}</a> </th>
                        <th>{{ $t('app.views.listusers.userTable.colRepositories') }}</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr v-for="(entry, index) in entries" 
                        v-bind:key="entry['id']" 
                        v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                        <td class="has-checkbox">
                            <input 
                                type="checkbox" 
                                v-bind:id="entry['id']" 
                                v-on:click="selectedEntryIds[entry['id']] ? delete selectedEntryIds[entry['id']] : selectedEntryIds[entry['id']] = 1"
                                v-bind:checked="selectedEntryIds[entry['id']] === 1" />
                            <label v-bind:for="entry['id']"></label>
                        </td>
                        <td><router-link v-bind:to="{ name: 'user', query: {id: entry['id']}}">
                            <template v-if="!entry['lastname'] && !entry['firstname']">
                                {{ $t('app.views.listusers.userTable.labelNoname') }}
                            </template>
                            <template v-if="entry['lastname'] || entry['firstname']">
                                {{ entry['lastname']}} {{ entry['firstname']}}
                            </template>
                        </router-link></td>                    
                        <td><a target="_blank" v-bind:href="'mailto:' + entry['email']">{{ entry['email']}}</a></td>
                        <td>{{ entry['institution']}}</td>
                        <td class="cell-admin"><span v-if="entry['admin']==1">&check;</span><span v-else>-</span></td>
                        <td>{{ entry['unique-id']}}</td>
                        <td>{{ getPoolNames(entry)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-buttons" style="justify-content: flex-end">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="false"
            />
        </div>
        
        <div class="form-buttons"
            v-on:click.prevent="saveForm"
        >
            <button
                class="btn btn-delete"
                v-on:click.prevent="onClickDelete"
                v-bind:disabled="Object.keys(selectedEntryIds) == 0"
            >{{ $t('global.button.loeschen') }}</button>
        </div>

    </form>

    <Modal ref="confirmDeletion" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ $t('app.views.listusers.userTable.modalDeleteText') }}</p>
                <ul>
                    <li v-for="(entryId) in Object.keys(this.selectedEntryIds)" v-bind:key="entryId">
                        {{ entries.find(entry => entry.id == entryId).firstname }} {{ entries.find(entry => entry.id == entryId).lastname }} ({{ entries.find(entry => entry.id == entryId)['unique-id'] }})
                    </li>
                </ul>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-delete"
                v-on:click="onClickConfirmDelete"
            >{{ $t('global.button.loeschen') }}</button>
        </template>
    </Modal>
</template>

<script>
import Logger from 'js-logger'
import DateUtils from '@/mixins/DateUtils'
import Modal from '@/components/fw/Modal'
import TableSizeSelector from '@/components/ui/TableSizeSelector'
import TableEntriesCountLabel from '@/components/ui/TableEntriesCountLabel'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'UserTable',

	mixins: [DateUtils],

    components: {
        TableEntriesCountLabel,
        TableSizeSelector,
        Modal
    },

    data: () => {
		return {
			currentSearch: {
                'result-sortorder-array': [{
                    'attribute-name': 'lastname',
                    'ascending-order': true
                }],
                'rs-size': 100,
                'rs-first': 0
            },
            entriesRsSize: 0,
            poolArray: [],
            entriesTotal: 0,
			entries: [],
            selectedEntryIds: {},
			restServices: new DOIOnlineServices()
		}
	},

    mounted() {
        this.currentSearch['fistname'] = this.$route.query.firstname
        this.currentSearch['lastname'] = this.$route.query.lastname
        this.currentSearch['unique-id'] = this.$route.query.uniqueId
        this.currentSearch['institution'] = this.$route.query.institution
        this.currentSearch['admin'] = this.$route.query.admin
        this.currentSearch['pool-id'] = this.$route.query.repoId
        let size =  this.$store.getters.getObjectStore['userTableSize']
        if (size) {
            this.currentSearch['rs-size'] = parseInt(size)
        }

        this.loadPools()
		this.searchEntries(this.currentSearch)
	},

    methods: {
        onClickSearch() {
			this.$store.commit('addToObjectStore', {
				key: 'userTableSize',
				value: this.currentSearch['rs-size']
			})

            this.searchEntries(this.currentSearch)
        },
        onClickReset() {
            this.selectedEntryIds = {}
            this.currentSearch = {
                'result-sortorder-array': [{
                    'attribute-name': 'creation-date',
                    'ascending-order': false
                }],
                'creation-date-start': null,
                'creation-date-end': null,
                'rs-size': 100,
                'rs-first': 0
            }
        },
        onClickDelete() {
            this.$refs.confirmDeletion.openModal(this.$t('app.views.listusers.userTable.modalDeleteTitle'))
        },
        onClickConfirmDelete() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            let idArray = []
            Object.keys(this.selectedEntryIds).forEach(key => idArray.push(key))

            this.restServices.deleteUsers(idArray,
                () => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.debug('REST deleteUsers(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.warn('REST deleteUsers call: ' + error)
                    return true
                }
            )
        },
        onClickInvertSelection() {
            this.entries.forEach(entry => {
                if (this.selectedEntryIds[entry['id']]) {
                    delete this.selectedEntryIds[entry['id']]
                } else {
                    this.selectedEntryIds[entry['id']] = 1
                }
            })
        },
        searchEntries(userSucheIN) {
			this.entries = []
            this.selectedEntryIds = {}
            this.entriesRsSize = parseInt(userSucheIN['rs-size'])

            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

			this.restServices.searchUser(userSucheIN,
				(response) => {
                    this.entriesTotal = response.data.total
					this.entries = response.data['user-array']
					loader.hide()

					Logger.debug('REST searchUser(...) called result: OK')
				},
				(error) => {
					this.entries = []
					loader.hide()

					Logger.warn('REST searchUser call: ' + error)
					return true
				}
			)
		},
        loadPools() {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.searchPool({
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true}
                    ]
                }, 
                (response) => {
                    this.poolArray = response.data['pool-array']

                    loader.hide()
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        onGotoPage(pageNr) {
            this.currentSearch['rs-first'] = this.entriesRsSize * (pageNr - 1)
            this.searchEntries(this.currentSearch)
        },
        onClickSort(attrName) {
            if (this.currentSearch['result-sortorder-array'].length == 0) {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }    
            } else if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                 if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                    this.currentSearch['result-sortorder-array'][0]['ascending-order'] = false
                 } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                     this.currentSearch['result-sortorder-array'] = []
                 } 
            } else {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }
            }

            this.searchEntries(this.currentSearch)
        },
        getSortStyle(attrName) {
            if (this.currentSearch['result-sortorder-array'].length > 0) {
                if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                    if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                        return 'sort-up'
                    } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                        return 'sort-down'
                    }
                }
            }

            return null
        },
        getPoolNames(entry) {
            if(entry['admin'] == 1) {
                return this.$t('app.views.listusers.userTable.labelAll')
            }

            let result = ''
            if(entry['pool-array']) {
                for (let idx = 0; idx < entry['pool-array'].length; idx++) {
                    if (idx > 0) {
                        result = result + ', '
                    }
                    result = result + entry['pool-array'][idx]['name']
                }
            }

            if (result.length > 30) {
                result = result.substring(0, 7) + '...'
            }

            return result
        }
    }
}
</script>

