/******************************************/
/*  Enter below your specific app styles  */
/******************************************/

/* duets datepicker */

.duet-date__toggle {
	background: white;
	box-shadow: none;
}

/* v-tooltip, */
.v-popper--theme-tooltip .v-popper__inner {
            background: rgba(0, 0, 0, .9) !important;
            color: #fff;
            font-size: 13px;
            border-radius: 0 !important;
            padding: 8px 15px !important;
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
            border-color: rgba(0, 0, 0, .9) !important;
}


/* Spalte Admin, Handled */

.cell-admin, .cell-handled {
	text-align: center;
}

.cell-admin span, .cell-handled span {
	font-weight: bold;
}

/* login */

.login-text {
	margin: 2.5rem 0 1.5rem;
}

.login-links {
	margin-top: 4rem;
}

/* Close Button for User Settings */

#user-settings .btn-icon-small {
	border:none;
	position: absolute;
	top: 1.5rem;
	right: 1rem;
	z-index: 10;
}

/* temporary fix for breadcrumb's last child-element */

#nav-breadcrumb li:last-child a {
	color: black;
	background: none;
}

#nav-breadcrumb li a:hover {
	color: black;
	text-decoration: underline;
}


/*  td special */

td:empty {
	height: 17px !important
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}



aside > .ce-text:last-of-type {
	margin-bottom: -10px;
}

.ce-simple {
	margin: 30px 0;
}

.form-list ul {
	margin: 20px 0 10px;
}

.form-list li {
	margin-bottom: 5px;
}

.form-element {
	margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
	input[type="text"], input[type="password"] {
		width: 100%;
	}
}

.btn-export::before {
	content: "\F095E";
}

.btn-deltaexport::before {
	content: "\F162C";
}

.btn-import::before {
	content: "\F095D";
}

.btn-deltaimport::before {
	content: "\F162D";
}

.btn-importexport::before {
	content: "\F1638";
}

.btn-cleardb::before {
	content: "\F0D00";
}

/* @end */