<template>
	<Breadcrumb 
        priority="40" 
        v-bind:titleId="$t('app.views.showdoihistory.breadcrumb', [id])"
        v-bind:route="this.$router.currentRoute" />

	<main id="main">
		<section id="main-top">
			<h1>{{ $t('app.views.showdoihistory.title') }}</h1>
             <p class="status" v-if="restError">{{ restError.message }}</p>
		</section>

		<section id="main-content">
            <div class="table-container">

                <div class="form-buttons">
                    <button
                        class="btn btn-back"
                        v-on:click="$store.getters.getObjectStore['breadcrumbManager'].onClickBack()"
                    >{{$t('app.views.showdoidetails.buttonBack')}}</button>
                </div>

                <table class="wAuto">
                    <colgroup>
                        <col style="width: 40px" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th scope="col">{{ $t('app.views.showdoihistory.colDateOfChange') }}</th>
                            <th scope="col">{{ $t('app.views.showdoihistory.colDOI') }}</th>
                            <th scope="col">{{ $t('app.views.showdoihistory.colURL') }}</th>
                            <th scope="col">{{ $t('app.views.showdoihistory.colImportDate') }}</th>
                            <th scope="col">{{ $t('app.views.showdoihistory.colExportDate') }}</th>
                            <th scope="col">{{ $t('app.views.showdoihistory.colMetadata') }}</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr v-for="(entry, index) in entries" 
                            v-bind:key="entry['id']" 
                            v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                            <template v-if=" index < entries.length - 1">
                                <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['modification-date'])) }}</td>
                                <td v-if="entry['doi'] != entries[index + 1]['doi']"><router-link v-bind:to="{ name: 'doi', query: {id: id}}">{{ entry['doi']}}</router-link></td>
                                <td v-if="entry['doi'] == entries[index + 1]['doi']">-</td>
                                <td v-if="entry['url'] != entries[index + 1]['url']"><a target="_blank" v-bind:href="entry['url']">{{ entry['url'] }}</a></td>
                                <td v-if="entry['url'] == entries[index + 1]['url']">-</td>
                                <td v-if="entry['import-date'] != entries[index + 1]['import-date']">{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['import-date'])) }}</td>
                                <td v-if="entry['import-date'] == entries[index + 1]['import-date']">-</td>
                                <td v-if="entry['export-date'] != entries[index + 1]['export-date']">{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['export-date'])) }}</td>
                                <td v-if="entry['export-date'] == entries[index + 1]['export-date']">-</td>
                                <td v-if="diffs[index] && diffs[index].length > 1">
                                    <a href="#" v-on:click.prevent="onClickChanged(index)">{{ $t('app.views.showdoihistory.infoChanged') }}</a>
                                </td>
                                <td v-if="!diffs[index] || diffs[index].length <= 1 && index < entries.length - 1">-</td>
                            </template>
                            <template v-if=" index == entries.length - 1">
                                <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date'])) }}</td>
                                <td><router-link v-bind:to="{ name: 'doi', query: {id: id}}">{{ entry['doi']}}</router-link></td>
                                <td><a target="_blank" v-bind:href="entry['url']">{{ entry['url'] }}</a></td>
                                <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['import-date'])) }}</td>
                                <td v-if="entry['export-date']">{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['export-date'])) }}</td>
                                <td v-if="!entry['export-date']">-</td>
                                <td>{{ $t('app.views.showdoihistory.infoNew') }}</td>
                            </template>
                        </tr>
                    </tbody>
                </table>
                
            </div>
		</section>
	</main>

    <Modal ref="showDiffModal" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p v-html="beautifyDiff(diffs[selectedIndex])"></p>
            </div>
        </template>
        <template v-slot:modalFooter>
            <div>
                {{ $t('app.views.showdoihistory.labelNote') }}
                    <span style="color: green;">{{ $t('app.views.showdoihistory.infoAdd') }}</span>,&nbsp;
                    <span style="color: red;">{{ $t('app.views.showdoihistory.infoRemoved') }}</span>,&nbsp;
                    <span style="color: grey;">{{ $t('app.views.showdoihistory.infoUnchanged') }}</span>
            </div>
        </template>
    </Modal>
</template>

<script>
import Logger from 'js-logger'
import Modal from '@/components/fw/Modal'
import DateUtils from '@/mixins/DateUtils'
import Breadcrumb from '@/components/layout/Breadcrumb'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'ShowDOIHistory',

    mixins: [DateUtils],

	components: {
		Breadcrumb,
        Modal
	},

	data: () => {
		return {
            restError: null,
			entries: [],
            diffs: [],
            selectedIndex: null,
			restServices: new DOIOnlineServices()
		}
	},

    props: {
		id: null
	},

    mounted() {
        this.loadEntries(this.id)
	},

    methods: {
		loadEntries(entryId) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.getDOIHistory(entryId, 
                (response) => {
                    this.entries = response.data
                    this.calcDiffs()

                    loader.hide()
                    Logger.debug('REST getDOIHistory(...) called result: OK')
                },
                (error) => {
                    this.restError = error.response.data

                    loader.hide()
                    Logger.warn('REST getDOIHistory(...) called result: ' + error)
                }
            )
		},
        onClickChanged(selectedIndex) {
            this.selectedIndex = selectedIndex
            this.$refs.showDiffModal.openModal(this.$t('app.views.showdoihistory.modalDiffTitle'))
        },
        calcDiffs() {
            const Diff = require('diff')

            for(let idx = 0; idx < this.entries.length; idx++) {
                let diff = []
                if (idx <  this.entries.length - 1) {
                    try {
                        let newObj = JSON.parse(this.entries[idx]['metadata-json'])
                        let oldObj = JSON.parse(this.entries[idx + 1]['metadata-json'])
                        newObj['rawXml'] = undefined
                        oldObj['rawXml'] = undefined
                        
                        let json1 = JSON.stringify(newObj, null, 3)
                        let json2 = JSON.stringify(oldObj, null, 3)
                        diff = Diff.diffJson(json2, json1)
                    } catch (exception) {
                        Logger.debug('Exception during diff: ', exception)
                    }
                }
                this.diffs.push(diff)
            }
        },
        beautifyDiff(diff) {
            let content = '<pre style="font-size: 18px;">'

            diff.forEach((diffPart) => {
                if (diffPart.added) {
                    content = content + '<span style="color: green;">'
                } else if(diffPart.removed) {
                    content = content + '<span style="color: red;">'
                } else {
                    content = content + '<span style="color: grey;">'
                }
                content = content + diffPart.value
                content = content + '</span>'
            })

            return content + "</pre>" 
        }
    }
}
</script>
