<template>
	<nav id="nav-breadcrumb" aria-label="breadcrumb">
		<ul v-if="breadcrumbManager">
			<li v-for="path in breadcrumbManager.getStack()" v-bind:key="path.index">
				<a
					href="#"
					onclick="return false;"
					v-on:click="onClickCrumb(path.index)"
				>{{ $t(path.titleId, ['path.titleId']) }}</a>
			</li>
		</ul>
	</nav>
</template>

<script>
import Logger from 'js-logger'

export default {
	name: 'Breadcrumb',

	data: () => {
		return {
			breadcrumbManager: null,
		}
	},

	props: {
		priority: {
			type: String,
			default: "99"
		},
		titleId: null,
		route: null,
		onClickFx: null,
		goBack: Boolean
	},

	watch: {
		goBack: function(newValue) {
			if (newValue) {
				this.breadcrumbManager.onClickBack()
			}
		},
		route: function(newRoute) {
			if (newRoute) {
				this.breadcrumbManager.updateRoute(newRoute)
			}
		},
		titleId: function(newTitleId) {
			let stack = this.breadcrumbManager.getStack()
			stack[stack.length - 1].titleId = newTitleId
		}
	},

	mounted() {
		this.breadcrumbManager = this.$store.getters.getObjectStore['breadcrumbManager']

		this.breadcrumbManager.onNavigatedTo({
			priority: this.priority,
			titleId: this.titleId,
			route: this.route,
			onClickFx: this.onClickFx
		})
	},

	methods: {
		onClickCrumb(index) {
			Logger.debug('Breadcrumb clicked crumb "' + this.breadcrumbManager.getStack()[index].titleId + '"')
			this.breadcrumbManager.onClickCrumb(index)
		}
	},
}
</script>

