<template>
	<nav id="header-nav-main" aria-label="Haupt" v-if="this.menuItems || this.menuItems.length > 0" v-bind:class="{ 'active' : isMenuOpen }">
		<ul v-if="menuItems && menuItems.length > 0" class="header-inside">
			<template
				v-for="menuItem in menuItems"
				v-bind:key="menuItem.title"
			>
				<li v-if="isMenuItemVisibleForRole(menuItem)" v-bind:class="{ 'active first' : menuItem.routeName == currentRouteName }">
					<a href="#" 
                        v-bind:class="{ 'active' : menuItem.routeName == currentRouteName }"
						v-bind:aria-current-value="menuItem.routeName == currentRouteName ? 'page' : ''"
						v-on:click.prevent="onMenuSelected(menuItem)">{{ menuItem.title }}</a>

					<ul v-if="menuItem.subMenuItems && menuItem.subMenuItems.length > 0">
						<template v-for="subMenuItem in menuItem.subMenuItems" v-bind:key="subMenuItem.title">
							<li v-if="isMenuItemVisibleForRole(subMenuItem)"
                                v-bind:class="{ 'active' : subMenuItem.routeName == currentRouteName }">
								<a v-if="subMenuItem.disabled" href="#" style="color: grey;">{{ subMenuItem.title }}</a>
								<a v-if="!subMenuItem.disabled" href="#" 
								v-bind:class="{ 'active' : subMenuItem.routeName == currentRouteName }"
								v-on:click.prevent="onMenuSelected(subMenuItem)">{{ subMenuItem.title }}</a>
							</li>
						</template>
					</ul>
				</li>
			</template>
		</ul>
	</nav>
</template>

<script>
export default {
	name: 'Menu',

	data: () => {
		return {
			currentRouteName: null,
			grantedRoles: null
		}
	},

	props: {
		menuItems: Array,
		isMenuOpen: Boolean
	},

    emits: {
        'menu-selected': Object,
    },

	watch: {
		'$route'(to) {
			let menuItem = this.searchMainMenuItem(this.menuItems, to.name)
			if (menuItem) {
				this.currentRouteName = to.name
			}
		},
		'$store.state.currentUser': function() {
			this.grantedRoles = this.$store.getters.getUserRoles
		},
		isMenuOpen: function() {
			this.setVisibility(this.isMenuOpen)
		}
	},

	mounted() {
		this.grantedRoles = this.$store.getters.getUserRoles
		this.setVisibility(this.isMenuOpen)
	},

	methods: {
		searchMainMenuItem(menuItemArray, routeName) {
			for (let menuItem of menuItemArray) {
				if (menuItem.routeName == routeName) {
					return menuItem
				}
				if (menuItem.subMenuItems) {
					if (this.searchMainMenuItem(menuItem.subMenuItems, routeName)) {
						return menuItem
					}
				}
			}

			return null
		},
		isMenuItemVisibleForRole(menuItem) {
			if (!menuItem.roles) {
				return true
			}
			if (!this.grantedRoles) {
				return false
			}

			const allowedRoles = menuItem.roles.split(',')
			const intersection = this.grantedRoles.filter(role => allowedRoles.includes(role))
			return intersection.length > 0
		},
		onMenuSelected(menuItem) {
			this.$emit('menu-selected', menuItem)

			this.$router.push({ 
				name: menuItem.routeName, 
				query: menuItem.query, 
				params: menuItem.params 
			})
		},
		setVisibility(isVisible) {
			if (isVisible) {
				document.querySelector('body').classList.add('overflow-hidden')
			} else {
				document.querySelector('body').classList.remove('overflow-hidden')
			}
		}
	}
}
</script>
