<template>
	<header id="header">

		<h1 class="visually-hidden">Header</h1>
		<a href="#main" class="skip-link">Skip to main content</a>

		<div id="header-alert" v-if="hasAlert">
			<div class="header-inside">
				<button 
					class="btn-icon-small btn-close" 
					aria-label="Hinweis schliessen"
					v-on:click.prevent="closeAlert()"
					></button>
				<p><a href="#">Aktuelle Informationen zum Umgang mit dem Coronavirus</a></p>
			</div>
		</div>

		<nav id="header-top" v-bind:aria-label="$t('components.layout.pageHeader.servicesLabel')">
			<ul class="header-inside">
				<li id="header-help"><a v-if="$t('components.layout.pageHeader.helpUrl')" v-bind:href="$t('components.layout.pageHeader.helpUrl')">{{ $t('components.layout.pageHeader.helpTitle') }}</a></li>
				<li id="header-contact" v-if="$t('components.layout.pageHeader.contactUrl')"><a v-if="$t('components.layout.pageHeader.contactUrl')" v-bind:href="$t('components.layout.pageHeader.contactUrl')">{{ $t('components.layout.pageHeader.contactTitle') }}</a></li>
				<li id="header-language">
					<label for="language" class="visually-hidden">{{ $t('components.layout.pageHeader.langSelectionTitle') }}</label>
					<select id="language" v-on:change="onChangeLanguage()" v-model="language">
						<option
							v-for="lang in languages"
							v-bind:value="lang.short"
							v-bind:key="lang.short"
						>{{ lang.long }}</option>
					</select>
				</li>
			</ul>
		</nav>

		<div id="header-banner">
			<div class="header-inside">

				<div id="header-logo">
					<router-link v-bind:to="{ name: 'index' }">
						<img id="header-logo-web" src="images/ethz_logo_black.svg" v-bind:alt="$t('components.layout.pageHeader.logoAlttxt')">
						<img id="header-logo-print" src="images/eth_logo_black_print.png" v-bind:alt="$t('components.layout.pageHeader.logoAlttxt')">
					</router-link>
				</div>

				<div id="header-headline">
					<router-link v-bind:to="{ name: 'index' }"  class="router-link-active"> {{ $t('app.title') }} </router-link>
				</div>
					
				<UserStatusBar
					v-if="this.$store.getters.getCurrentUser"
					v-bind:currentUser="this.$store.getters.getCurrentUser"
					v-bind:isMenuIconOpen="isMenuActive"
					v-on:menu-opened="onOpenMenu"
				/>
			</div>
		</div>

		<Menu 
			v-if="menuItems" 
			v-bind:menuItems="menuItems" 
			v-bind:isMenuOpen="isMenuActive"
			v-on:menu-selected="onSelectMenu"/>
	</header>
</template>

<script>
import Menu from './Menu.vue'
import UserStatusBar from './UserStatusBar.vue'

export default {
	name: 'PageHeader',

	components: {
		Menu,
		UserStatusBar
	},

	props: {
		languages: Array,
		currentLanguage: null,
		menuItems: Array
	},


	data: () => {
		return {
			language: null,
			hasAlert: false,
			isMenuActive: false
		}
	},

	watch: {
		currentLanguage: function(newLanguage) {
			this.language = newLanguage
		}
	},

	mounted() {
		this.language = this.currentLanguage
		this.setElements()
	},

	methods: {
		onChangeLanguage() {
			this.$emit('ev-language-changed', this.language)
			this.setElements()
		},
		onOpenMenu(isOpen) {
			this.isMenuActive = isOpen
			if (isOpen) {
				this.closeAlert()
			}
		},
		onSelectMenu(menuItem) {
			this.isMenuActive = false
		},
		setElements() {
			document.getElementsByTagName('html')[0].setAttribute('lang', this.language)
			document.title =  this.$t('app.title')
		},
		closeAlert() {
			this.hasAlert = false
		}
	}
}
</script>
