<template>
	<footer id="footer">
		<h1 class="visually-hidden">Footer</h1>

        <ul class="footer-inside">
			<li>
				<router-link
					class="path"
					v-bind:to="{ name: 'imprint' }"  v-bind:title=" $t('components.layout.pageFooter.imprint') "
				>{{ $t('components.layout.pageFooter.imprintTitle') }}</router-link>
			</li>

			<li>
				<a v-bind:href="$t('components.layout.pageFooter.disclaimerUrl')" target="_blank">
					{{ $t('components.layout.pageFooter.disclaimerTitle') }}
				</a>
			</li>

			<li>
				<a v-bind:href="$t('components.layout.pageFooter.copyrightUrl')" target="_blank">
					{{ $t('components.layout.pageFooter.copyrightTitle') }}
				</a>
			</li>
	
			<li id="footer-copyright">
				<a
					v-bind:href="$t('components.layout.pageFooter.homepageUrl')"
					v-bind:title="$t('components.layout.pageFooter.copyright')"
					target="_blank"
				>&#169;{{currentYear}} {{ $t('components.layout.pageFooter.copyright') }}, {{ appBuildDate }}&nbsp;</a>
			
				<a v-bind:href="$store.getters.getAppHelloUrl" target="_blank" 
					v-tooltip="$store.getters.getAppBuildBranch + '/' + $store.getters.getAppBuildNumber + ' - ' + $store.getters.getAppStage + ' (' + $store.getters.getAppServerName + ')'">
					&nbsp;{{ $t('components.layout.pageFooter.versionTitle') }} {{ $store.getters.getAppVersion }}
				</a>
			</li>
        </ul>
    </footer>
</template>

<script>

import DateUtils from '@/mixins/DateUtils'

export default {
	name: 'PageFooter',

	mixins: [DateUtils],

	props: [
		'currentUser'
	],

	computed: {
		currentYear() {
			return new Date().getFullYear()
		},
		appBuildDate() {
			let dt = new Date(parseInt(this.$store.getters.getAppBuildDate))
			return this.getLocalizedDateStringFromMillis(dt.getTime());
		}
	}
}
</script>

