<template>
	<div id="nav-meta" v-if="currentUser">
		<div id="nav-meta-user" v-bind:class="{ 'active' : isUserSettingClosed }">
			<a 
				href="#" 
				role="button" 
				ref="btnuser" 
				aria-label="User Setting" 
				v-on:click.prevent="setFocus()"
				v-bind:aria-expanded=" isUserSettingClosed ? 'false' : 'true' "
			>{{ username }}</a>
			<nav id="user-settings" v-bind:class="{ 'closed': isUserSettingClosed }" v-on:keydown.esc="setFocus()">
				<button 
					class="btn-icon-small btn-close" 
					aria-label="Close User Settings" 
					id="btn-close-dialog" 
					ref="btnclose"
					v-on:click="setFocus()"
				></button>
				<ul>
					<li>
						<span class="user-name">{{ username }}</span>
						<span class="user-email">{{ userRole }}</span>
					</li>
					<li v-if="this.$store.getters.isRoleChangeable"><a class="user-profile" v-bind:href="'index.view?forceRoleSelection=true'">{{ $t('components.layout.userStatusBar.roleChange') }}</a></li>
					<li><a class="user-logout" 
							v-bind:href="'loggingout?lang=' + this.$store.getters.getCurrentLanguage"
							role="button"
						>{{ $t('components.layout.userStatusBar.logout')}}</a></li>
				</ul>
			</nav>
		</div>

		<div 
			id="navigation-mobile" 
			v-if="hasNavigation"
			v-on:click="toggleNavigation()"
			v-bind:class="[navigationActive ? 'active' : 'not-active']"
			>
			<a class="nav-burger-btn" role="button" aria-label="Open Navigation">
				<b></b>
				<b></b>
				<b></b>
			</a>
		</div>

	</div>
</template>

<script>
export default {
	name: 'UserStatusBar',

	props: {
		currentUser: null,
		isMenuIconOpen: Boolean
	},

    emits: {
        'menu-opened': Boolean,
    },

	data: () => {
		return {
			isUserSettingClosed: true,
			navigationActive: false,
			hasNavigation: true
		}
	},

	mounted() {
		this.navigationActive = this.isMenuIconOpen
	},

	watch: {
		isMenuIconOpen: function() {
			this.navigationActive = this.isMenuIconOpen
		}
	},

	computed: {
		username() {
			if (this.currentUser) {
				return this.currentUser.givenName + ' ' + this.currentUser.surname
			}

			return "?"
		},
		userRole() {
			var roleName = ''

			if (this.$store.getters.isUserInRoleAdmin) {
				roleName = this.$t('app.roles.admin')
			} else if (this.$store.getters.isUserInRoleUser) {
				roleName = this.$t('app.roles.user')
			}
			
			if (roleName) {
				return roleName
			}

			return '?'
		}
	},

	methods: {
		setFocus() {
			if (this.isUserSettingClosed) {
				this.isUserSettingClosed = false
				this.$nextTick(function(){
					this.$refs.btnclose.focus()
				})
			}
			else {
				this.isUserSettingClosed = true
				this.$refs.btnuser.focus()
			}
		},
		toggleNavigation() {
			this.navigationActive = !this.navigationActive
			this.$emit('menu-opened', this.navigationActive)
		}
	}
}
</script>

<style>

</style>

