<template>
	<Breadcrumb 
        priority="20"
        v-bind:titleId="$t('app.views.showuserdetails.breadcrumb', [entry.id])"
        v-bind:route="this.$router.currentRoute" />

	<main id="main">
		<section id="main-top">
			<h1>{{ $t('app.views.showuserdetails.title') }}</h1>
            <p class="msg-alert" v-if="restError">{{ restError.message }}</p>
		</section>

		<section id="main-content">
            <form id="detailForm" name="detailForm" class="form-editable">
                <div class="form-container"> 
                    
                    <div class="form-buttons">
                        <button
                            class="btn btn-back"
                            v-on:click="$store.getters.getObjectStore['breadcrumbManager'].onClickBack()"
                        >{{$t('app.views.showuserdetails.buttonBack')}}</button>
                        <transition name="fade">
                            <button 
                                class="btn btn-edit"
                                v-on:click.prevent="onClickEdit"
                                v-bind:disabled="!allDisabled"
                                style="margin-left: auto"
                            >{{ $t('app.views.showuserdetails.buttonEdit') }}</button>
                        </transition>
                        <transition name="fade">
                        <button
                                class="btn-icon btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                                style="margin-left: 1rem"
                                v-tooltip="$t('app.views.showuserdetails.buttonCancel')"
                                aria-label="$t('app.views.showuserdetails.buttonCancel')"
                            ></button>
                        </transition>
                    </div>
                    <fieldset>
                        <legend>{{ $t('app.views.showuserdetails.grpUserData') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:firstname"
                                    type="text"
                                    name="detailForm:firstname"
                                    maxlength="255"
                                    placeholder="--"
                                    v-model="entry['firstname']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:firstname">{{ $t('app.views.showuserdetails.labelFirstname') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:lastname"
                                    type="text"
                                    name="detailForm:lastname"
                                    maxlength="255"
                                    placeholder="--"
                                    v-model="entry['lastname']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:lastname">{{ $t('app.views.showuserdetails.labelLastname') }}</label>
                            </div>
                            <div class="form-cell-8"
                                 v-bind:class="{ 'form-group--error': v$.entry['email'].$error }">
                                <input
                                    id="detailForm:email"
                                    type="text"
                                    name="detailForm:email"
                                    placeholder="--"
                                    maxlength="255"
                                    v-model="entry['email']" 
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['email'])"
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['email'].email.$invalid && v$.entry['email'].$error"
                                >{{ $t('app.views.showuserdetails.errInvalidEMail') }}</div>
                                <label for="detailForm:email">{{ $t('app.views.showuserdetails.labelEMail') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showuserdetails.grpInstitution') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:institution"
                                    type="text"
                                    name="detailForm:institution"
                                    maxlength="255"
                                    placeholder="--"
                                    v-model="entry['institution']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:institution">{{ $t('app.views.showuserdetails.labelInstitution') }}</label>
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['unique-id'].$error }">
                                <input
                                    id="detailForm:uniqueid"
                                    type="text"
                                    name="detailForm:uniqueid"
                                    maxlength="255"
                                    placeholder="--"
                                    v-model="entry['unique-id']" 
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['unique-id'])"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['unique-id'].required.$invalid && v$.entry['unique-id'].$error"
                                >{{ $t('app.views.showuserdetails.errRequiredUniqueId') }}</div>
                                <label for="detailForm:uniqueid">{{ $t('app.views.showuserdetails.labelUniqueId') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showuserdetails.grpAuthorization') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-8 form-list">
                                <input
                                    id="detailForm:admin"
                                    type="checkbox"
                                    name="detailForm:admin"
                                    v-bind:checked="entry['admin'] == 1" 
                                    v-on:input="entry['admin'] = Math.abs(entry['admin'] - 1)"
                                    v-on:change="calcPoolNames"
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:admin">{{ $t('app.views.showuserdetails.labelAdmin') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <ul id="detailForm:poolNames">
                                    <template v-for="(poolName, index) in poolNames" v-bind:key="index">
                                        <li>{{ poolName }}</li>
                                    </template>
                                </ul>
                                 <label for="detailForm:poolNames">{{ $t('app.views.showuserdetails.labelAuthRepository') }}</label>
                            </div>
                            <div class="form-cell-1">
                                <button 
                                    type="reset" 
                                    name="selectPoolsButton" 
                                    class="btn btn-plus" 
                                    v-on:click.prevent="onClickSelectPools" 
                                    v-bind:disabled="allDisabled || entry['admin'] == 1"
                                >{{ $t('app.views.showuserdetails.buttonSelectRepo') }}</button>
                            </div>
                        </div>
                    </fieldset>

                    <transition name="fade">
                        <div class="form-buttons"
                            v-on:click.prevent="saveForm"
                        >
                            <button
                                class="btn btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                            >{{ $t('app.views.showuserdetails.buttonCancel') }}</button>
                            <button
                                class="btn btn-submit"
                                v-on:click.prevent="onClickSave"
                                v-if="!allDisabled"
                                v-bind:disabled="v$.$invalid"
                            >{{ $t('app.views.showuserdetails.buttonSave') }}</button>
                        </div>
                    </transition>
                </div>
            </form>
		</section>
	</main>

    <Modal ref="modalSelectPools" 
        v-bind:isModalFooterOpen="true" 
        v-bind:isModalFooterFixed="true" 
        v-bind:isCloseButtonVisible="true"
        v-bind:isAutoClose="false">
        <template v-slot:modalBody>
            <div class="modal-content">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="inverter" v-on:click="onClickInvertSelection"/><label for="inverter">{{ $t('app.views.showuserdetails.modalColName') }}</label></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(pool) in poolArray" v-bind:key="pool['id']" >
                            <td>
                                <input 
                                    type="checkbox" 
                                    v-bind:id="pool['id']" 
                                    v-on:click="selectedPoolIds[pool['id']] ? delete selectedPoolIds[pool['id']] : selectedPoolIds[pool['id']] = 1"
                                    v-bind:checked="selectedPoolIds[pool['id']] === 1" />
                                <label v-bind:for="pool['id']">{{ pool['name']}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-submit"
                v-on:click="onClickAssign"
            >{{ $t('app.views.showuserdetails.buttonAssign') }}</button>
        </template>
    </Modal>

</template>

<script>
import Logger from 'js-logger'
import { email } from '@/utils/Validation'
import Modal from '@/components/fw/Modal'
import { required } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import Breadcrumb from '@/components/layout/Breadcrumb'
import DOIOnlineServices from '@/services/DOIOnlineServices'

const touchMap = new WeakMap()

export default {
	name: 'ShowUserDetails',

	components: {
		Breadcrumb,
        Modal
	},

	data: () => {
		return {
            v$: useVuelidate(),
            restError: null,
            allDisabled: true,
            poolNames: [],
            poolArray: [],
            selectedPoolIds: {},
			entry: {
                'pool-array': []
            },
			restServices: new DOIOnlineServices()
		}
	},

    props: {
		id: null
	},

    validations: {
        entry: {
            'unique-id': { required },
            'email': { email }
        }
    },

    mounted() {
        this.loadPools()
        this.init()
	},

    watch: {
        id: function() {
            this.init()
        }
    },

    methods: {
        init() {
            if (this.id) {
                this.loadEntry(this.id)
                this.allDisabled = true
            } else {
                this.entry = {
                    'pool-array': [],
                    'admin': 0
                }
                this.selectedPoolIds = {}
                this.allDisabled = false
            }
        },
		loadEntry(entryId) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.getUser(entryId, 
                (response) => {
                    this.entry = response.data
                    let poolIdArray = []
                    this.entry['pool-array'].forEach(poolOUT => {
                        poolIdArray.push(poolOUT.id)
                    })
                    this.entry['pool-array'] = poolIdArray
                    this.calcPoolNames()

                    loader.hide()
                    Logger.debug('REST getUser(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST getUser(...) called result: ' + error)
                }
            )
		},
        saveEntry() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })
            this.restError = null

            if (this.entry['admin'] == 1) {
                this.entry['pool-array'] = []
            }

            if (this.entry.id) {
                this.restServices.updateUser(
                    this.entry.id, this.entry,
                    () => {
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST updateUser(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST updateUser call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            } else {
                this.restServices.createUser(
                    this.entry,
                    (response) => {
                        this.entry.id = response.data.id
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST createUser(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST createUser call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            }
		},
        loadPools() {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.searchPool({
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true}
                    ]
                }, 
                (response) => {
                    this.poolArray = response.data['pool-array']
                    this.calcPoolNames()

                    loader.hide()
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        onClickEdit() {
            this.allDisabled = false
        },
        onClickReset() {
            if (this.entry.id) {
                this.loadEntry(this.entry.id)
                this.allDisabled = true
            } else {
                this.entry = {
                    'pool-array': []
                }
            }
        },
        onClickSave() {
            this.saveEntry()
        },
        onClickSelectPools() {
            this.selectedPoolIds = {}

            this.entry['pool-array'].forEach(poolId => {
                this.selectedPoolIds[poolId] = 1
            })
            
            this.$refs.modalSelectPools.openModal(this.$t('app.views.showuserdetails.modalSelectRepoTitle'))
        },
        onClickInvertSelection() {
            this.poolArray.forEach(pool => {
                if (this.selectedPoolIds[pool['id']]) {
                    delete this.selectedPoolIds[pool['id']]
                } else {pool
                    this.selectedPoolIds[pool['id']] = 1
                }
            })
        },
        onClickAssign() {
             this.$refs.modalSelectPools.closeModal(true)

             this.entry['pool-array'] = Object.keys(this.selectedPoolIds)
             this.calcPoolNames()
        },
        calcPoolNames() {
            if (this.entry) {
                if (this.entry['admin'] == 1) {
                    this.poolNames = [this.$t('app.views.showuserdetails.labelAllRepositories')]
                } else {
                    this.poolNames = this.entry['pool-array'].map(poolId => {
                        let pool = this.poolArray.find(otherPool => { 
                            return otherPool.id == poolId
                        })
                        if (pool) {
                            return pool.name
                        } else {
                            return poolId
                        }
                    })
                }
            } else {
                 this.poolNames = []
            }

            this.poolNames.sort((a,b) => String(a).localeCompare(String(b)))
        },
        delayedValidation(v) {
            v.$reset()
            if (touchMap.has(v)) {
                clearTimeout(touchMap.get(v))
            }
            touchMap.set(v, setTimeout(v.$touch, 1000))
		}
    }
}
</script>
