<template>
    <form id="dashboardForm" name="dashboardForm">
        <h2 styleClass="waiSubTitle">{{ entries.length}} {{ $t('app.views.index.dashboardTable.subTitle') }}</h2>
        <p class="msg-alert" v-if="restError">{{ restError.message }}</p>

        <table class="table-auto">
            <colgroup>
                <col style="width: 300px" />
           </colgroup>

            <thead>
                <tr>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colName') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colTotal') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colLastUpdate') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colNextUpdate') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colNewDOIs') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colUpdatedDOIs') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colPendingExportsDOIs') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colUnhandledErrors') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colBatchStatus') }}</th>
                    <th scope="col">{{ $t('app.views.index.dashboardTable.colCommands') }}</th>
                </tr>
            </thead>
            
            <tbody>
                <tr v-for="(entry, index) in entries" 
                    v-bind:key="entry['id']" 
                    v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                    <td><router-link v-bind:to="{ name: 'repo', query: {id: entry['id']}}">{{ entry['name'] }}</router-link></td>
                    <td><router-link v-bind:to="{ name: 'listdois', query: {repoId: entry['id']}}">{{ entry['total-doi-count']}}</router-link></td>
                    <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['last-import-date'])) }}</td>
                    <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['next-schedule'])) }}</td>
                    <td><router-link v-bind:to="{ name: 'listdois', query: {repoId: entry['id'], from: entry['last-import-date'] }}">{{ entry['last-new-count']}}</router-link></td>
                    <td><router-link v-bind:to="{ name: 'listdois', query: {repoId: entry['id'], to: entry['last-import-date'], modstart: entry['last-import-date']}}">{{ entry['last-update-count']}}</router-link></td>
                    <td>{{ entry['total-pending-exports']}}</td>
                    <td><router-link v-bind:to="{ name: 'listerrors', query: {repoId: entry['id'], handled: 0}}">{{ entry['last-error-count']}}</router-link></td>
                    <td>
                        <span v-if="entry['batch-status-code'] > 0">{{ entry['batch-status-desc'] }}</span>
                        <span v-if="entry['batch-status-code'] == 0 && entry['has-manual-batch-pending']">Starting</span>
                        <span v-if="entry['batch-status-code'] == 0 && !entry['has-manual-batch-pending']">-</span>
                    </td>
                    <td class="nowrap">
                        <button 
                            type="reset" 
                            name="fullsyncButton" 
                            class="btn-icon-small btn-import" 
                            v-if="this.$store.getters.isUserInRoleAdmin"
                            v-bind:disabled="entry['batch-status-code'] > 0 || !entry['has-serverconfig'] || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickFullImport(entry)" 
                            v-tooltip="{content:  entry['has-serverconfig'] ? $t('app.views.index.dashboardTable.ttFullImport') :$t('app.views.index.dashboardTable.ttMissingServerConfig')}"
                        ></button>
                        <button 
                            type="reset" 
                            name="importButton" 
                            class="btn-icon-small btn-deltaimport" 
                            v-bind:disabled="entry['batch-status-code'] > 0 || !entry['has-serverconfig'] || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickImport(entry)" 
                            v-tooltip="{content:  entry['has-serverconfig'] ? $t('app.views.index.dashboardTable.ttImport') :$t('app.views.index.dashboardTable.ttMissingServerConfig')}"
                        ></button>
                        &nbsp;
                        <button 
                            type="reset" 
                            name="updateButton" 
                            class="btn-icon-small btn-importexport" 
                            v-bind:disabled="entry['batch-status-code'] > 0 || !entry['has-serverconfig'] || !entry['has-credentials'] || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickUpdate(entry)" 
                            v-tooltip="{content:  (entry['has-serverconfig'] && entry['has-credentials']) ? $t('app.views.index.dashboardTable.ttUpdate') :$t('app.views.index.dashboardTable.ttMissingUpdateConfig')}"
                        ></button>
                        &nbsp;
                        <button 
                            type="reset" 
                            name="deltaExportButton" 
                            class="btn-icon-small btn-deltaexport" 
                            v-bind:disabled="entry['batch-status-code'] > 0 || !entry['has-credentials'] || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickExport(entry)" 
                            v-tooltip="{content: entry['has-credentials'] ? $t('app.views.index.dashboardTable.ttDeltaExport') :$t('app.views.index.dashboardTable.ttMissingCredentials')}"
                        ></button>
                        <button 
                            type="reset" 
                            name="exportButton" 
                            class="btn-icon-small btn-export" 
                            v-if="this.$store.getters.isUserInRoleAdmin"
                            v-bind:disabled="entry['batch-status-code'] > 0 || !entry['has-credentials'] || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickFullExport(entry)" 
                            v-tooltip="{content: entry['has-credentials'] ? $t('app.views.index.dashboardTable.ttForceExport') :$t('app.views.index.dashboardTable.ttMissingCredentials')}"
                        ></button>
                        &nbsp;
                        <button 
                            type="reset" 
                            name="clearButton" 
                            v-if="this.$store.getters.isUserInRoleAdmin"
                            class="btn-icon-small btn-cleardb" 
                            v-bind:disabled="entry['batch-status-code'] > 0 || entry['has-manual-batch-pending']"
                            v-on:click.prevent="onClickClear(entry)" 
                            v-tooltip="{content: $t('app.views.index.dashboardTable.ttClear')}"
                        ></button>
                    </td>                   
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>{{ $t('app.views.index.dashboardTable.footerTotal') }}</td>
                    <td>{{ totalDOIs }} </td>
                    <td></td>
                    <td></td>
                    <td>{{ totalNew }} </td>
                    <td>{{ totalUpdated }} </td>
                    <td>{{ totalErrors }} </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <br />
        <br />
        
        <div> 
        </div>
    </form>

    <Modal ref="modalBatchInfo" v-bind:isModalFooterOpen="false" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ modalText }}</p>
            </div>
        </template>
    </Modal>
    <ConfirmBox ref="confirmBox"></ConfirmBox>
</template>

<script>
import Logger from 'js-logger'
import Modal from '@/components/fw/Modal'
import ConfirmBox from '@/components/fw/ConfirmBox'
import DateUtils from '@/mixins/DateUtils'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'DashboardTable',

    mixins: [DateUtils],

    components: {
        Modal,
        ConfirmBox
    },

	data: () => {
		return {
            restError: null,
            modalText: null,
			entries: [],
			restServices: new DOIOnlineServices(),
            evtSource: null
		}
	},

    mounted() {
        this.loadEntries()
	},

    watch: {
        $route() {
            if (this.evtSource) {
                this.evtSource.close()
            }
        }
    },

    methods: {
		loadEntries() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })
            this.restServices.streamDashboard((eventSource, streamedData, isCompleted) => {
                if (loader) {
                    loader.hide()
                    loader = null
                }
                this.evtSource = eventSource
                this.entries =  streamedData

                Logger.debug("REST streamDashbaord: " + JSON.stringify(streamedData) + ", isCompleted =" + isCompleted)
            })
		},
        onClickFullImport(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'FullImport Batch', repository: entry.name}), () => this.startFullImport(entry), null)
        },
        startFullImport(entry) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startFullImport(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalFullImportText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startFullImport(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startFullImport(...) called result: ' + error)

                    return true
                }
            )
		},
        onClickImport(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'Import Batch', repository: entry.name}), () => this.startImport(entry), null)
        },
        startImport(entry) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startImport(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalImportText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startImport(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startImport(...) called result: ' + error)

                    return true
                }
            )
		},
        onClickUpdate(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'Update Batch', repository: entry.name}), () => this.startkUpdate(entry), null)
        },
        startkUpdate(entry) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startUpdate(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalUpdateText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startUpdate(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startUpdate(...) called result: ' + error)

                    return true
                }
            )
		},
        onClickFullExport(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'FullExport Batch', repository: entry.name}), () => this.startFullExport(entry), null)
        },
        startFullExport(entry) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startFullExport(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalFullExportText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startFullExport(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startFullExport(...) called result: ' + error)

                    return true
                }
            )
		},
        onClickExport(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'Export Batch', repository: entry.name}), () => this.startExport(entry), null)
        },
        startExport(entry) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startExport(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalExportText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startExport(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startExport(...) called result: ' + error)

                    return true
                }
            )
		},
        onClickClear(entry) {
            this.$refs.confirmBox.openModal(this.$t('app.views.index.dashboardTable.confirmBoxText', {name: 'Clear Batch', repository: entry.name}), () => this.startClear(entry), null)
        },
        startClear(entry) {    
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.startClear(entry.id, 
                () => {
                    loader.hide()
                    this.modalText = this.$t('app.views.index.dashboardTable.modalClearText', {name: entry.name})
                    this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalSuccessTitle'))
                    entry['has-manual-batch-pending'] = true

                    Logger.debug('REST startClear(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.openModalFailure(error)

                    Logger.warn('REST startClear(...) called result: ' + error)

                    return true
                }
            )
		},
        openModalFailure(error) {
            if ('service.datacite.1010' == error.response.data['message-id']) {
                this.modalText = this.$t('app.views.index.dashboardTable.modalFailureBatchExistingText')
            } else {
                this.modalText = this.$t('app.views.index.dashboardTable.modalFailureText', {code: error.response.data['message-id'], msg: error.response.data['message']})
            }

            this.$refs.modalBatchInfo.openModal(this.$t('app.views.index.dashboardTable.modalFailureTitle'))
        }
    },

    computed: {
        totalDOIs: function() {
            let total = 0
            this.entries.forEach((entry) => {
                total = total + entry['total-doi-count']
            })

            return total
        },
        totalErrors: function() {
            let total = 0
            this.entries.forEach((entry) => {
                total = total + entry['last-error-count']
            })

            return total
        },
        totalUpdated: function() {
            let total = 0
            this.entries.forEach((entry) => {
                total = total + entry['last-update-count']
            })

            return total
        },
        totalNew: function() {
            let total = 0
            this.entries.forEach((entry) => {
                total = total + entry['last-new-count']
            })

            return total
        }
    }
}
</script>

<style scoped>
    .nowrap {
        white-space: nowrap;
    }
</style>