<template>
	<Breadcrumb 
		priority="0" 
		titleId="app.views.index.breadcrumb" 
		v-bind:route="this.$router.currentRoute" />

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('app.views.index.title') }}</h1>
		</section>

		<section id="main-content">
			<DashboardTable />
			
			<h2>{{ $t('app.views.index.labelSupport') }}</h2>
			<p v-html="$t('app.views.index.textSupport')" />
			<br>
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'
import DashboardTable from './DashboardTable'

export default {
	name: 'Index',

	components: {
		Breadcrumb,
		DashboardTable
	},
	
	computed: {
		username() {
			if (this.$store.getters.getCurrentUser) {
				return this.$store.getters.getCurrentUser.givenName + ' ' + this.$store.getters.getCurrentUser.surname
			}

			return "?"
		}
	}
}
</script>
