<template>
	<Breadcrumb 
		priority="10" 
		titleId="app.views.listrepos.breadcrumb" 
		v-bind:route="this.$router.currentRoute" />

	<main id="main">

		<section id="main-top">
			<h1>{{ $t('app.views.listrepos.title') }}</h1>
		</section>

		<section id="main-content">
			<RepoTable />
		</section>
	</main>
</template>

<script>
import Breadcrumb from '@/components/layout/Breadcrumb'
import RepoTable from './RepoTable'

export default {
	name: 'ListRepos',

	components: {
		Breadcrumb,
		RepoTable
	},
	
	props: {
		name: null,
		doiPrefix: null,
		urlPrefix: null
	},

	computed: {
		username() {
			if (this.$store.getters.getCurrentUser) {
				return this.$store.getters.getCurrentUser.givenName + ' ' + this.$store.getters.getCurrentUser.surname
			}

			return "?"
		}
	}
}
</script>
