<template>
    <form id="searchForm" name="searchForm">

        <div aria-label="Heading and pagination" class="heading-container">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="true"
            />
        </div>

        <section class="form-container">
            <fieldset>
                <div class="form-group width-full">
                    <div class="form-cell-1">
                        <TableSizeSelector
                            id="searchMaxResults" 
                            v-model="currentSearch['rs-size']"
                        />
                        <label for="searchMaxResults">{{ $t('app.views.listrepos.repoTable.labelItemsPerPage') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchName" placeholder="" maxlength="255" v-model="currentSearch['name']">
                        <label for="searchName">{{ $t('app.views.listrepos.repoTable.labelName') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchDoiPrefix" placeholder="" maxlength="255" v-model="currentSearch['doi-prefix']">
                        <label for="searchDoiPrefix">{{ $t('app.views.listrepos.repoTable.labelDOIPrefix') }}</label>
                    </div>
                    <div class="form-cell-3">
                        <input type="text" id="searchServerURL" placeholder="" maxlength="255" v-model="currentSearch['server-url']">
                        <label for="searchServerURL">{{ $t('app.views.listrepos.repoTable.labelServerURL') }}</label>
                    </div>
                    <div class="form-cell-2">
                        <input type="text" id="searchUsername" placeholder="" maxlength="255" v-model="currentSearch['datacite-username']">
                        <label for="searchUsername">{{ $t('app.views.listrepos.repoTable.labelUsername') }}</label>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            name="searchButton"
                            class="btn btn-search"
                            v-on:click.prevent="onClickSearch"
                        >{{ $t('global.button.suchen.name') }}</button>
                    </div>
                    <div class="form-cell-1" style="width: auto;">
                        <button 
                            type="reset" 
                            name="resetButton" 
                            class="btn-icon btn-reset" 
                            v-on:click.prevent="onClickReset"
                            aria-label="Delete all inputs"
                            v-tooltip="'Delete all inputs'"
                        ></button>
                    </div>
                </div>
            </fieldset>
        </section>

        <div class="table-container">
            
            <table class="table-auto">

                <thead>
                    <tr>
                        <th class="has-checkbox"><input type="checkbox" id="inverter" v-on:click="onClickInvertSelection"/><label for="inverter"></label></th>
                        <th><a id="searchForm:nameHeader" v-bind:class="getSortStyle('name')" v-on:click="onClickSort('name')" class="columnName">{{ $t('app.views.listrepos.repoTable.colName') }}</a> </th>
                        <th><a id="searchForm:doiPrefixHeader" v-bind:class="getSortStyle('doi-prefix')" href="#" v-on:click="onClickSort('doi-prefix')" class="columnName">{{ $t('app.views.listrepos.repoTable.colDOIPrefix') }}</a> </th>
                        <th><a id="searchForm:serverUrlHeader" v-bind:class="getSortStyle('server-url')" href="#" v-on:click="onClickSort('server-url')" class="columnName">{{ $t('app.views.listrepos.repoTable.colServerURL') }}</a> </th>
                        <th><a id="searchForm:usernameHeader" v-bind:class="getSortStyle('datacite-username')" href="#" v-on:click="onClickSort('datacite-username')" class="columnName">{{ $t('app.views.listrepos.repoTable.colUsername') }}</a> </th>
                        <th><a id="searchForm:urlPrefixHeader" v-bind:class="getSortStyle('url-prefix')" href="#" v-on:click="onClickSort('url-prefix')" class="columnName">{{ $t('app.views.listrepos.repoTable.colDOIURLPrefix') }}</a> </th>
                        <th><a id="searchForm:cronScheduleHeader" v-bind:class="getSortStyle('cron-schedule')" href="#" v-on:click="onClickSort('cron-schedule')" class="columnName">{{ $t('app.views.listrepos.repoTable.colHarvestTime') }}</a> </th>
                        <th><a id="searchForm:lastImportDateHeader" v-bind:class="getSortStyle('last-import-date')" href="#" v-on:click="onClickSort('last-import-date')" class="columnName">{{ $t('app.views.listrepos.repoTable.colLastImport') }}</a> </th>
                        <th><a id="searchForm:lastExportDateHeader" v-bind:class="getSortStyle('last-export-date')" href="#" v-on:click="onClickSort('last-export-date')" class="columnName">{{ $t('app.views.listrepos.repoTable.colLastExport') }}</a> </th>
                        <th><a id="searchForm:metadataPrefixHeader" v-bind:class="getSortStyle('metadata-prefix')" href="#" v-on:click="onClickSort('metadata-prefix')" class="columnName">{{ $t('app.views.listrepos.repoTable.colMetadataPrefix') }}</a> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(entry, index) in entries" 
                        v-bind:key="entry['id']" 
                        v-bind:class="index % 2 == 0 ? 'odd' : 'even' ">
                        <td class="has-checkbox">
                            <input 
                                type="checkbox" 
                                v-bind:id="entry['id']" 
                                v-on:click="selectedEntryIds[entry['id']] ? delete selectedEntryIds[entry['id']] : selectedEntryIds[entry['id']] = 1"
                                v-bind:checked="selectedEntryIds[entry['id']] === 1" />
                            <label v-bind:for="entry['id']"></label>
                        </td>
                        <td><router-link v-bind:to="{ name: 'repo', query: {id: entry['id']}}">{{ entry['name'] }}</router-link></td>
                        <td>{{ entry['doi-prefix']}}</td>
                        <td class="word-wrap"><a target="_blank" v-bind:href="entry['server-url']">{{ ellipseIfLong(entry['server-url'], 30) }}</a></td>
                        <td>{{ entry['datacite-username']}}</td>
                        <td><a target="_blank" v-bind:href="entry['url-prefix']">{{ ellipseIfLong(entry['url-prefix'], 30) }}</a></td>
                        <td>{{ entry['cron-schedule']}}</td>
                        <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['last-import-date'])) }}</td>
                        <td>{{ getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['last-export-date'])) }}</td>
                        <td>{{ entry['metadata-prefix']}}</td>
                    </tr> 
                </tbody>
            </table>
        </div>

        <div class="form-buttons" style="display: flex; justify-content: flex-end;">
            <TableEntriesCountLabel
                v-on:ev-gotopage="onGotoPage"
                v-bind:rsSize="entriesRsSize"
                v-bind:rsFirst="currentSearch['rs-first']"
                v-bind:total="entriesTotal"
                v-bind:showSummary="false"
            />
        </div>

        <div class="form-buttons">
            <button
                class="btn btn-save"
                v-on:click.prevent="onClickEnable"
                v-bind:disabled="!hasDisabledRepos"
            >{{ $t('app.views.listrepos.repoTable.buttonLabelEnable') }}</button>
            <button
                class="btn btn-save"
                v-on:click.prevent="onClickDisable"
                v-bind:disabled="!hasEnabledRepos"
            >{{ $t('app.views.listrepos.repoTable.buttonLabelDisable') }}</button>
            
            <button
                class="btn btn-delete"
                v-on:click.prevent="onClickDelete"
                v-bind:disabled="Object.keys(selectedEntryIds) == 0"
            >{{ $t('global.button.loeschen') }}</button>
        </div>

    </form>

    <Modal ref="confirmDeleteModal" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ $t('app.views.listrepos.repoTable.modalDeleteText1') }}</p>
                <ul>
                    <li v-for="(entryId) in Object.keys(this.selectedEntryIds)" v-bind:key="entryId">
                        {{ entries.find(entry => entry.id == entryId).name }}
                    </li>
                </ul>
                <p>{{ $t('app.views.listrepos.repoTable.modalDeleteText2') }}</p>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-delete"
                v-on:click="onClickConfirmDelete"
            >{{ $t('global.button.loeschen') }}</button>
        </template>
    </Modal>
    
    <Modal ref="confirmEnableModal" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ $t('app.views.listrepos.repoTable.modalEnableText') }}</p>
                <ul>
                    <li v-for="(entryId) in Object.keys(this.selectedEntryIds)" v-bind:key="entryId">
                        {{ entries.find(entry => entry.id == entryId).name }}
                        <template v-if="!entries.find(entry => entry.id == entryId)['cron-schedule']">{{ $t('app.views.listrepos.repoTable.modalInfoText') }}</template>
                    </li>
                </ul>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-ok"
                v-on:click="onClickConfirmEnable"
            >{{ $t('app.views.listrepos.repoTable.modalEnableButton') }}</button>
        </template>
    </Modal>

    <Modal ref="confirmDisableModal" v-bind:isModalFooterOpen="true" v-bind:isCloseButtonVisible="true">
        <template v-slot:modalBody>
            <div class="modal-content">
                <p>{{ $t('app.views.listrepos.repoTable.modalDisableText') }}</p>
                <ul>
                    <li v-for="(entryId) in Object.keys(this.selectedEntryIds)" v-bind:key="entryId">
                        {{ entries.find(entry => entry.id == entryId).name }} 
                        <template v-if="!entries.find(entry => entry.id == entryId)['cron-schedule']">{{ $t('app.views.listrepos.repoTable.modalInfoText') }}</template>
                    </li>
                </ul>
            </div>
        </template>
        <template v-slot:modalFooter>
            <button
                class="btn btn-ok"
                v-on:click="onClickConfirmDisable"
            >{{ $t('app.views.listrepos.repoTable.modalDisableButton') }}</button>
        </template>
    </Modal>
</template>

<script>
import Logger from 'js-logger'
import DateUtils from '@/mixins/DateUtils'
import Modal from '@/components/fw/Modal'
import TableSizeSelector from '@/components/ui/TableSizeSelector'
import TableEntriesCountLabel from '@/components/ui/TableEntriesCountLabel'
import DOIOnlineServices from '@/services/DOIOnlineServices'

export default {
	name: 'RepoTable',

	mixins: [DateUtils],

    components: {
        TableEntriesCountLabel,
        TableSizeSelector,
        Modal
    },

    data: () => {
		return {
			currentSearch: {
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true
                }],
                'rs-size': 100,
                'rs-first': 0
            },
            entriesRsSize: 0,
            entriesTotal: 0,
			entries: [],
            selectedEntryIds: {},
			restServices: new DOIOnlineServices()
		}
	},

    mounted() {
        this.currentSearch['name'] = this.$route.query.name
        this.currentSearch['doi-prefix'] = this.$route.query.doiPrefix
        this.currentSearch['url-prefix'] = this.$route.query.urlPrefix
        this.currentSearch['datacite-username'] = this.$route.query.username
        let size =  this.$store.getters.getObjectStore['repoTableSize']
        if (size) {
            this.currentSearch['rs-size'] = parseInt(size)
        }

		this.searchEntries(this.currentSearch)
	},

    methods: {
        onClickSearch() {
            this.$store.commit('addToObjectStore', {
				key: 'repoTableSize',
				value: this.currentSearch['rs-size']
			})

            this.searchEntries(this.currentSearch)
        },
        onClickReset() {
            this.selectedEntryIds = {}
            this.currentSearch = {
                'result-sortorder-array': [{
                    'attribute-name': 'creation-date',
                    'ascending-order': false
                }],
                'creation-date-start': null,
                'creation-date-end': null,
                'rs-size': 100,
                'rs-first': 0
            }
        },
        onClickDelete() {
            this.$refs.confirmDeleteModal.openModal(this.$t('app.views.listrepos.repoTable.modalDeleteTitle'))
        },
        onClickEnable() {
            this.$refs.confirmEnableModal.openModal(this.$t('app.views.listrepos.repoTable.modalActionTitle'))
        },
        onClickDisable() {
            this.$refs.confirmDisableModal.openModal(this.$t('app.views.listrepos.repoTable.modalActionTitle'))
        },
        onClickConfirmEnable() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            let idArray = []
            Object.keys(this.selectedEntryIds).forEach(key => idArray.push(key))

            this.restServices.enablePools(idArray,
                () => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.debug('REST enablePools(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.warn('REST enablePools call: ' + error)
                    return true
                }
            )
        },
        onClickConfirmDisable() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            let idArray = []
            Object.keys(this.selectedEntryIds).forEach(key => idArray.push(key))

            this.restServices.disablePools(idArray,
                () => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.debug('REST disablePools(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.warn('REST disablePools call: ' + error)
                    return true
                }
            )
        },
        onClickConfirmDelete() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            let idArray = []
            Object.keys(this.selectedEntryIds).forEach(key => idArray.push(key))

            this.restServices.deletePools(idArray,
                () => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.debug('REST deletePools(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    this.searchEntries(this.currentSearch)

                    Logger.warn('REST deletePools call: ' + error)
                    return true
                }
            )
        },
        onClickInvertSelection() {
            this.entries.forEach(entry => {
                if (this.selectedEntryIds[entry['id']]) {
                    delete this.selectedEntryIds[entry['id']]
                } else {
                    this.selectedEntryIds[entry['id']] = 1
                }
            })
        },
        searchEntries(poolSucheIN) {
			this.entries = []
            this.selectedEntryIds = {}
            this.entriesRsSize = parseInt(poolSucheIN['rs-size'])

            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

			this.restServices.searchPool(poolSucheIN,
				(response) => {
                    this.entriesTotal = response.data.total
					this.entries = response.data['pool-array']
					loader.hide()

					Logger.debug('REST searchPool(...) called result: OK')
				},
				(error) => {
					this.entries = []
					loader.hide()

					Logger.warn('REST searchPool call: ' + error)
					return true
				}
			)
		},
        onGotoPage(pageNr) {
            this.currentSearch['rs-first'] = this.entriesRsSize * (pageNr - 1)
            this.searchEntries(this.currentSearch)
        },
        onClickSort(attrName) {
            if (this.currentSearch['result-sortorder-array'].length == 0) {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }    
            } else if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                 if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                    this.currentSearch['result-sortorder-array'][0]['ascending-order'] = false
                 } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                     this.currentSearch['result-sortorder-array'] = []
                 } 
            } else {
                this.currentSearch['result-sortorder-array'][0] = {
                    'attribute-name': attrName,
                    'ascending-order': true
                }
            }

            this.searchEntries(this.currentSearch)
        },
        getSortStyle(attrName) {
            if (this.currentSearch['result-sortorder-array'].length > 0) {
                if (this.currentSearch['result-sortorder-array'][0]['attribute-name'] === attrName) {
                    if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === true) {
                        return 'sort-up'
                    } else if (this.currentSearch['result-sortorder-array'][0]['ascending-order'] === false) {
                        return 'sort-down'
                    }
                }
            }

            return null
        },
        getEntry(entryId) {
            return this.entries.find(entry => entry.id == entryId)
        },
        ellipseIfLong(text, maxLen) {
            if (text && text.length > maxLen) {
                return text.substring(0, maxLen - 3) + '...'
            }

            return text
        }
    },

    computed: {
        hasEnabledRepos: function() {
            for(let entryId of Object.keys(this.selectedEntryIds)) {
                let foundEntry = this.entries.find(entry => entry.id == entryId)
                if (foundEntry['cron-schedule'] && !foundEntry['cron-disabled']) {
                    return true
                }
            }

            return false
        },
        hasDisabledRepos: function() {
            for(let entryId of Object.keys(this.selectedEntryIds)) {
                let foundEntry = this.entries.find(entry => entry.id == entryId)
                if (foundEntry['cron-schedule'] && foundEntry['cron-disabled'] == 1) {
                    return true
                }
            }

            return false
        }
    }
}
</script>

<style scoped>

    .word-wrap a {
        max-width: 400px;
        display:block; 
        word-wrap: break-word;
    }
</style>

