<template>
	<Breadcrumb 
        priority="20"
        v-bind:titleId="$t('app.views.showrepodetails.breadcrumb', [entry.id])"
        v-bind:route="this.$router.currentRoute" />

	<main id="main">
		<section id="main-top">
			<h1>{{ $t('app.views.showrepodetails.title') }}</h1>
            <p class="msg-alert" v-if="restError">{{ restError.message }}</p>
		</section>

		<section id="main-content">
            <form id="detailForm" name="detailForm" class="form-editable">
                <div class="form-container"> 
                    
                    <div class="form-buttons">
                        <button
                            class="btn btn-back"
                            v-on:click="$store.getters.getObjectStore['breadcrumbManager'].onClickBack()"
                        >{{$t('app.views.showrepodetails.buttonBack')}}</button>
                        <transition name="fade">
                            <button 
                                class="btn btn-edit"
                                v-on:click.prevent="onClickEdit"
                                v-bind:disabled="!allDisabled"
                                style="margin-left: auto"
                            >{{ $t('app.views.showrepodetails.buttonEdit') }}</button>
                        </transition>
                        <transition name="fade">
                            <button
                                class="btn-icon btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                                style="margin-left: 1rem"
                                v-tooltip="$t('app.views.showrepodetails.buttonCancel')"
                                aria-label="$t('app.views.showrepodetails.buttonCancel')"
                            ></button>
                        </transition>
                    </div>
                    <fieldset>
                        <legend>{{ $t('app.views.showrepodetails.grpBaseData') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['name'].$error }">
                                <input
                                    id="detailForm:name"
                                    type="text"
                                    name="detailForm:name"
                                    placeholder="--"
                                    maxlength="255"
                                    v-model="entry['name']" 
                                    v-bind:disabled="allDisabled || !this.$store.getters.isUserInRoleAdmin"
                                    v-on:input="delayedValidation(v$.entry['name'])"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['name'].required.$invalid && v$.entry['name'].$error"
                                >{{ $t('app.views.showrepodetails.errRequiredName') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.entry['name'].unique.$invalid && v$.entry['name'].$error"
                                >{{ $t('app.views.showrepodetails.errUniqueName') }}</div>
                                <label for="detailForm:name">{{ $t('app.views.showrepodetails.labelName') }}</label>
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['doi-prefix'].$error }">
                                <input
                                    id="detailForm:doiPrefix"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:doiPrefix"
                                    placeholder="--"
                                    v-model="entry['doi-prefix']" 
                                    v-bind:disabled="allDisabled || !this.$store.getters.isUserInRoleAdmin"
                                    v-on:input="delayedValidation(v$.entry['doi-prefix'])"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['doi-prefix'].required.$invalid && v$.entry['doi-prefix'].$error"
                                >{{ $t('app.views.showrepodetails.errRequiredDOIPrefix') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.entry['doi-prefix'].unique.$invalid && v$.entry['doi-prefix'].$error"
                                >{{ $t('app.views.showrepodetails.errUniqueDOIPrefix') }}</div>
                                <label for="detailForm:doiPrefix">{{ $t('app.views.showrepodetails.labelDOIPrefix') }}</label>
                            </div>
                            <div class="form-cell-8"
                                v-bind:class="{ 'form-group--error': v$.entry['server-url'].$error }">
                                <input
                                    id="detailForm:serverUrl"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:serverUrl"
                                    placeholder="--"
                                    v-model="entry['server-url']"
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['server-url'])"
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['server-url'].url.$invalid && v$.entry['server-url'].$error"
                                >{{ $t('app.views.showrepodetails.errInvalidServerURL') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.entry['server-url'].required.$invalid && v$.entry['server-url'].$error"
                                >{{ $t('app.views.showrepodetails.errImportRequiresServerURL') }}</div>
                                <label for="detailForm:serverUrl">{{ $t('app.views.showrepodetails.labelServerURL') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:doiSet"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:doiSet"
                                    placeholder="--"
                                    v-model="entry['set-name']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:doiSet">{{ $t('app.views.showrepodetails.labelDOISet') }}</label>
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['url-prefix'].$error }">
                                <input
                                    id="detailForm:doiUrlPrefix"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:doiUrlPrefix"
                                    placeholder="--"
                                    v-model="entry['url-prefix']" 
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['url-prefix'])"
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['url-prefix'].url.$invalid && v$.entry['url-prefix'].$error"
                                >{{ $t('app.views.showrepodetails.errInvalidDOIPrefixURL') }}</div>
                                <label for="detailForm:doiUrlPrefix">{{ $t('app.views.showrepodetails.labelDOIPrefixURL') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showrepodetails.grpConfiguration') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:metadataPrefix"
                                    type="text"
                                    maxlength="32"
                                    name="detailForm:metadataPrefix"
                                    placeholder="--"
                                    v-model="entry['metadata-prefix']" 
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:metadataPrefix">{{ $t('app.views.showrepodetails.labelMetadataPrefix') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <select
                                    id="detailForm:inputTypes" 
                                    name="detailForm:inputTypes" 
                                    size="1"
                                    v-bind:disabled="allDisabled"
                                    v-model="entry['default-restype-general-code']" 
                                >
                                    <option value="" selected>--</option>
                                    <option v-for="(domValue) in resTypeGeneralOptions" v-bind:key="domValue.code" v-bind:value="domValue.code">{{domValue.desc}}</option>
                                </select>
                                <label for="detailForm:inputTypes">{{ $t('app.views.showrepodetails.labelDefResTypeGen') }}</label>
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['import-type-code'].$error }">
                                <select
                                    id="detailForm:importType" 
                                    name="detailForm:importType" 
                                    size="1"
                                    v-bind:disabled="allDisabled"
                                    v-model="entry['import-type-code']" 
                                    v-on:input="onChangeImportTypeCode"
                                    required
                                >
                                    <option v-for="(domValue) in importTypeArray" v-bind:key="domValue.code" v-bind:value="domValue.code">{{domValue.desc}}</option>
                                </select>
                                <div
                                    class="error"
                                    v-if="v$.entry['import-type-code'].required.$invalid && v$.entry['import-type-code'].$error"
                                >{{ $t('app.views.showrepodetails.errMissingImportType') }}</div>
                                <label for="detailForm:importType">{{ $t('app.views.showrepodetails.labelImportType') }}</label>
                            </div>
                            <div class="form-cell-3"
                                v-bind:class="{ 'form-group--error': v$.entry['cron-schedule'].$error }">
                                <input
                                    id="detailForm:harvestTime"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:harvestTime"
                                    placeholder="--"
                                    v-model="entry['cron-schedule']" 
                                    v-on:input="delayedValidation(v$.entry['cron-schedule'])"
                                    v-bind:disabled="allDisabled || entry['import-type-code'] == 0"
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['cron-schedule'].cronScheduleFormat.$invalid && v$.entry['cron-schedule'].$error"
                                >{{ $t('app.views.showrepodetails.errInvalidCronSchedule') }}</div>
                                <label for="detailForm:harvestTime">{{ $t('app.views.showrepodetails.labelHarvestTime') }}</label>
                            </div>
                            <div class="form-cell-1">
                                <p v-html="this.$t('app.views.showrepodetails.labelCronInfo')" />
                            </div>
                            <div class="form-cell-8 form-list">
                                <input
                                    id="detailForm:cronDisabled"
                                    type="checkbox"
                                    name="detailForm:cronDisabled"
                                    v-bind:checked="entry['cron-disabled'] == 1" 
                                    v-on:input="entry['cron-disabled'] = Math.abs(entry['cron-disabled'] - 1)"
                                    v-bind:disabled="allDisabled"
                                />
                                <label for="detailForm:cronDisabled">{{ $t('app.views.showrepodetails.labelDisable') }}</label>
                            </div>

                            <div class="form-cell-8"
                                v-bind:class="{ 'form-group--error': v$.entry['doi-tombstone'].$error }">
                                <input
                                    id="detailForm:doiTombstone"
                                    type="text"
                                    maxlength="255"
                                    name="detailForm:doiTombstone"
                                    placeholder="--"
                                    v-model="entry['doi-tombstone']"
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['doi-tombstone'])"
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['server-url'].url.$invalid && v$.entry['doi-tombstone'].$error"
                                >{{ $t('app.views.showrepodetails.errInvalidTombstoneURL') }}</div>
                                <label for="detailForm:doiTombstone">{{ $t('app.views.showrepodetails.labelTombstoneURL') }}</label>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>{{ $t('app.views.showrepodetails.grpHarvesting') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:creationDate"
                                    type="text"
                                    name="detailForm:creationDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date']))" 
                                    disabled
                                />
                                <label for="detailForm:creationDate">{{ $t('app.views.showrepodetails.labelCreationDate') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:lastUpdate"
                                    type="text"
                                    name="detailForm:lastUpdate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['modification-date']))" 
                                    disabled
                                />
                                <label for="detailForm:lastUpdate">{{ $t('app.views.showrepodetails.labelLastUpdate') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:lastImport"
                                    type="text"
                                    name="detailForm:lastImport"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['last-import-date']))" 
                                    disabled
                                />
                                <label for="detailForm:lastImport">{{ $t('app.views.showrepodetails.labelLastImport') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input
                                    id="detailForm:lastExport"
                                    type="text"
                                    name="detailForm:lastExport"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['last-export-date']))" 
                                    disabled
                                />
                                <label for="detailForm:lastExport">{{ $t('app.views.showrepodetails.labelLastExport') }}</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>{{ $t('app.views.showrepodetails.grpXSLT') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-8">
                                <ETHTextarea
                                    id="detailForm:xslt"
                                    name="detailForm:xslt" 
                                    placeholder="--"
                                    v-bind:disabled="allDisabled"
                                    v-model="entry['xslt']" 
                                    minSize="30" 
                                />
                                <label for="detailForm:xslt">{{ $t('app.views.showrepodetails.labelXSLT') }}</label>
                            </div>
                        </div>
                    </fieldset>
                                        
                    <fieldset>
                        <legend>{{ $t('app.views.showrepodetails.grpDataCite') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <input 
                                    id="detailForm:dataCenter" 
                                    type="text" 
                                    maxlength="255"
                                    name="detailForm:dataCenter"
                                    placeholder="--"
                                    v-model="entry['datacite-username']" 
                                    v-bind:disabled="allDisabled" 
                                />
                                <label>{{ $t('app.views.showrepodetails.labelUsername') }}</label>
                            </div>
                            <div class="form-cell-4">
                                <input id="dataCenterPW"
                                    v-bind:type="getPwInputType()"
                                    maxlength="255"
                                    placeholder="--"
                                    v-model="entry['datacite-password']" 
                                    v-bind:disabled="allDisabled"
                                >
                                <label for="dataCenterPW">{{ $t('app.views.showrepodetails.labelPassword') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    
                    <transition name="fade">
                        <div class="form-buttons"
                            v-on:click.prevent="saveForm"
                        >
                            <button
                                class="btn btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                            >{{ $t('app.views.showrepodetails.buttonCancel') }}</button>
                            <button
                                class="btn btn-submit"
                                v-on:click.prevent="onClickSave"
                                v-if="!allDisabled"
                                v-bind:disabled="v$.$invalid"
                            >{{ $t('app.views.showrepodetails.buttonSave') }}</button>
                        </div>
                    </transition>
                </div>
            </form>
		</section>
	</main>
</template>

<script>
import Logger from 'js-logger'
import { url } from '@/utils/Validation'
import { required, requiredIf } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import DateUtils from '@/mixins/DateUtils'
import Breadcrumb from '@/components/layout/Breadcrumb'
import DOIOnlineServices from '@/services/DOIOnlineServices'
import DomainCacheService from '@/utils/DomainCacheService'
import ETHTextarea from '@/components/fw/ETHTextarea.vue'
import CronScheduleParser from '@/utils/CronScheduleParser'

const touchMap = new WeakMap()
const cronScheduleFormat = (cronScheduleString) => CronScheduleParser.checkCronSchedule(cronScheduleString)

export default {
	name: 'ShowRepoDetails',

	components: {
		Breadcrumb,
        ETHTextarea
	},

    mixins: [DateUtils],

	data: () => {
		return {
            v$: useVuelidate(),
            importTypeArray: [],
            resTypeGeneralOptions: {},
            restError: null,
            allDisabled: true,
            isShowPassword: false,
			entry: {},
            poolArray: [],
			restServices: new DOIOnlineServices(),
		}
	},

    props: {
		id: null
	},
    
    validations: {
        entry: {
            'name': { 
                required, 
                unique: function(value) {
                    for(let idx = 0; idx < this.poolArray.length; idx++) {
                        if (this.poolArray[idx]['name'].toLowerCase() == value.toLowerCase() &&
                            this.poolArray[idx]['id'] != this.entry.id) {
                            return false
                        }
                    }
                    
                    return true
                }
            },
            'server-url': { 
                url,
                required: requiredIf(function() {
					return this.entry['import-type-code'] > 0
				}) 
            },
            'doi-prefix': { 
                required,
                unique: function(value) {
                    for(let idx = 0; idx < this.poolArray.length; idx++) {
                        if (this.poolArray[idx]['doi-prefix'].toLowerCase() == value.toLowerCase() &&
                            this.poolArray[idx]['id'] != this.entry.id) {
                            return false
                        }
                    }
                    
                    return true
                }
            },
            'url-prefix': { url},
            'cron-schedule': { cronScheduleFormat },
            'import-type-code': { required },
            'doi-tombstone': { url }
        }
    },

    mounted() {
        this.init()
	},

    watch: {
        id: function() {
            this.init()
        }
    },

    methods: {
        init() {
            if (this.id) {
                this.loadEntry(this.id)
                this.allDisabled = true
            } else {
                this.entry = {
                    'cron-disabled': 0,
                    'doi-tombstone' : "http://www.library.ethz.ch/invaliddoi.html"
                }
                this.allDisabled = false
            }

            this.loadDomains(this.$store.getters.getCurrentLanguage)
        },
		loadEntry(entryId) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.getPool(entryId, 
                (response) => {
                    this.entry = response.data

                    loader.hide()
                    Logger.debug('REST getPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST getPool(...) called result: ' + error)
                }
            )
		},
        saveEntry() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })
            this.restError = null

            if (this.entry.id) {
                this.restServices.updatePool(
                    this.entry.id, this.entry,
                    () => {
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST updatePool(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST updatePool call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            } else {
                this.restServices.createPool(
                    this.entry,
                    (response) => {
                        this.entry.id = response.data.id
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST createPool(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST createPool call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            }
		},
        loadDomains(language) {
            this.loadPools()

			DomainCacheService.loadDOIDomain(
				language, 'ResourceTypeGeneral', (domainValueArray) => {
					this.resTypeGeneralOptions = domainValueArray
				}
			)
            DomainCacheService.loadDOIDomain(
				language, 'ImportType', (domainValueArray) => {
					this.importTypeArray = domainValueArray
				}
			)
		},
        loadPools() {
            this.restServices.searchPool({}, 
                (response) => {
                    this.poolArray = response.data['pool-array']
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        onClickEdit() {
            this.allDisabled = false
            this.setShowPassword(true)
        },
        onClickReset() {
            if (this.entry.id) {
                this.loadEntry(this.entry.id)
                this.allDisabled = true
            } else {
                this.entry = {}
            }

            this.setShowPassword(false)
        },
        onClickSave() {
            this.saveEntry()
            this.setShowPassword(false)
        },
        onChangeImportTypeCode() {
            this.entry['cron-schedule'] = null
            this.delayedValidation(this.v$.entry)
        },
        setShowPassword(isShowPw) {
            this.isShowPassword = isShowPw
        },
        getPwInputType() {
            if(this.isShowPassword) {
                return 'text'
            } 

            return 'password'
        },
        delayedValidation(v) {
            v.$reset()
            if (touchMap.has(v)) {
                clearTimeout(touchMap.get(v))
            }
            touchMap.set(v, setTimeout(v.$touch, 1000))
		}
    }
}
</script>

<style>    
    
</style>
