<template>
	<div id="wrapper">
		<PageHeader
			v-bind:languages="this.$store.getters.getLanguages"
			v-bind:currentLanguage="this.$store.getters.getCurrentLanguage"
			v-bind:menuItems="$tm('components.layout.menu.menuItems')"
			v-on:ev-language-changed="onLanguageChanged"
		/>

		<div id="main-aside">
			<router-view></router-view>
		</div>

		<PageFooter v-bind:currentUser="this.$store.getters.getCurrentUser" />
	</div>
</template>

<script>
import store from '@/store'
import PageFooter from '@/components/layout/PageFooter.vue'
import PageHeader from '@/components/layout/PageHeader.vue'


export default {
	name: 'AppMain',

	components: {
		PageFooter,
		PageHeader
	},

	created() {
		this.setupApp()
	},

	methods: {
		setupApp() {
			store.dispatch('getAppContext', process.env.VUE_APP_CALL_WHOAMI)

			store.dispatch('initBreadcrumb', {
				titleId: 'app.views.index.breadcrumb',
				route: { 
					name: 'index',
					params: null,
					query: null
				}
			})

			store.commit('setRoleChangeable', false)
		},
		onLanguageChanged(newLanguage) {
			store.commit('setCurrentLanguage', newLanguage)
		}
	}
}
</script>

<style>


</style>
