<template>
    <select
        v-bind:id="id" 
        v-bind:name="id" 
        size="1"
        v-model="currentValue"
        v-on:input="onChange"
    >
        <option value="30" v-bind:selected="currentValue == 30">30</option>
        <option value="50" v-bind:selected="currentValue == 50">50</option>
        <option value="100" v-bind:selected="currentValue == 100">100</option>
        <option value="200" v-bind:selected="currentValue == 200">200</option>
        <option value="500" v-bind:selected="currentValue == 500">500</option>
        <option value="1000" v-bind:selected="currentValue == 1000">1000</option>
    </select>
</template>

<script>
export default {
	name: 'TableSizeSelector',

    props: {
		id: {
			type: String,
			default: 'sizeSelector'
		},
        modelValue: null
	},
    
    data: () => {
		return {
            currentValue: null,
        }
    },

    emits: {
        'update:modelValue': Number
    },

    mounted() {
        this.currentValue = this.modelValue
    },

    watch: {
        modelValue: function() {
            this.currentValue = this.modelValue
        }
    },

    methods: {
        onChange(event) {
            this.$emit('update:modelValue', event.target.value)
        }
    }
}
</script>