<template>
    <h2 v-if="showSummary">{{ $t('components.ui.tableEntriesCountLabel.summary', { from: fromIndex, to: toIndex, total: total}) }}</h2>
    <ul role="pagination" class="nav-pagination">
        <li class="page-first">
            <a v-if="pageNr > 1" v-on:click="onClickGotoPage(1)" href="#" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.firstPage')"></a>
            <span v-if="pageNr <= 1" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.firstPage')"></span>
        </li>
        <li class="page-prev">
            <a v-if="pageNr > 1" v-on:click="onClickGotoPage(pageNr - 1)" href="#" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.previousPage')"></a>
            <span v-if="pageNr <= 1" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.previousPage')"></span>
        </li>
        <li><span>{{ $t('components.ui.tableEntriesCountLabel.page') }} {{ pageNr }} {{ $t('components.ui.tableEntriesCountLabel.of') }}&nbsp;{{ pageCount }}</span></li>
        <li class="page-next">
            <a v-if="pageNr < pageCount" v-on:click="onClickGotoPage(pageNr + 1)" href="#" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.nextPage')"></a>
            <span v-if="pageNr >= pageCount" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.nextPage')"></span>
         </li>
        <li class="page-last">
            <a v-if="pageNr < pageCount" v-on:click="onClickGotoPage(pageCount)" href="#" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.lastPage')"></a>
            <span v-if="pageNr >= pageCount" v-bind:aria-label="$t('components.ui.tableEntriesCountLabel.lastPage')"></span>
        </li>
    </ul>
</template>

<script>
export default {
	name: 'TableEntriesCountLabel',

	props: {
		rsSize: Number,
		rsFirst: Number,
        total: Number,
        showSummary: Boolean
	},

    emits: {
        'ev-gotopage': Object
    },

    methods: {
        onClickGotoPage(gotoPageNr) {
            this.$emit('ev-gotopage', gotoPageNr)
        }
    },

    computed: {
        fromIndex: function() {
            if (this.total > 0) {
                return this.rsFirst + 1
            }

            return 0
        },
        toIndex: function() {
            if (this.rsSize > this.total - this.rsFirst) {
                return this.total
            }

            return this.rsFirst + this.rsSize
        },
        pageCount: function() {
            if (this.total > 0) {
                return Math.trunc(this.total / this.rsSize) + 1
            }

            return 0
        },
        pageNr: function() {
            return Math.ceil(this.rsFirst / this.rsSize) + 1;
        }
    }
}

</script>