<template>
	<Breadcrumb 
        priority="20" 
        v-bind:titleId="$t('app.views.showdoidetails.breadcrumb', [entry.id])"
        v-bind:route="this.$router.currentRoute" />

	<main id="main">
		<section id="main-top">
			<h1>{{ $t('app.views.showdoidetails.title') }}</h1>
             <p class="msg-alert" v-if="restError">{{ restError.message }}</p>
		</section>

		<section id="main-content">
            <h2 class="visually-hidden">{{ $t('app.views.showdoidetails.breadcrumb', [entry.id]) }}</h2>
            <form id="detailForm" name="detailForm" class="form-editable">
                <div class="form-container"> 
                    
                    <div class="form-buttons">
                        <button
							class="btn btn-back"
							v-on:click="$store.getters.getObjectStore['breadcrumbManager'].onClickBack()"
						>{{$t('app.views.showdoidetails.buttonBack')}}</button>
                        <button 
                            class="btn btn-submit"
                            v-on:click.prevent="onClickHistory"
                            v-if="id"
                            v-bind:disabled="!entry.id"
                            style="margin-left: auto"
                        >{{ $t('app.views.showdoidetails.buttonHistory') }}</button>
                        <button 
                            class="btn btn-submit"
                            v-on:click.prevent="onClickErrors"
                            v-if="id"
                            v-bind:disabled="!entry.id"
                            style="margin-left: 1rem"
                        >{{ $t('app.views.showdoidetails.buttonErrors') }}</button>
                        <transition name="fade">
                            <button 
                                class="btn btn-edit"
                                v-on:click.prevent="onClickEdit"
                                v-if="id"
                                v-bind:disabled="!allDisabled"
                                style="margin-left: 1rem"
                            >{{ $t('app.views.showdoidetails.buttonEdit') }}</button>
                        </transition>
                        <transition name="fade">
                            <button
                                class="btn-icon btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                                style="margin-left: 1rem"
                                v-tooltip="$t('app.views.showdoidetails.buttonCancel')"
                                aria-label="$t('app.views.showdoidetails.buttonCancel')"
                            ></button>
                        </transition>
                    </div>
                    <fieldset>
                        <legend>{{ $t('app.views.showdoidetails.grpBaseData') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.entry['doi'].$error }">
                                <input
                                    id="detailForm:doi"
                                    type="text"
                                    name="detailForm:doi"
                                    maxlength="255"
                                    v-model="entry['doi']" 
                                    v-bind:disabled="allDisabled || entry.id"
                                    v-on:input="delayedValidation(v$.entry['doi'])"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['doi'].required.$invalid && v$.entry['doi'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredDOI') }}</div>
                                <label for="detailForm:doi">{{ $t('app.views.showdoidetails.labelDOI') }}</label>
                            </div>
                            <div class="form-cell-3" style="width:calc(50% - 6rem)"
                                v-bind:class="{ 'form-group--error': v$.entry['url'].$error }">
                                <input
                                    id="detailForm:url"
                                    type="text"
                                    name="detailForm:url"
                                    maxlength="255"
                                    v-model="entry['url']" 
                                    v-bind:disabled="allDisabled"
                                    v-on:input="delayedValidation(v$.entry['url'])"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.entry['url'].url.$invalid && v$.entry['url'].$error"
                                >{{ $t('app.views.showdoidetails.errInvalidURL') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.entry['url'].required.$invalid && v$.entry['url'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredURL') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.entry['url'].doiUrl.$invalid && v$.entry['url'].$error"
                                >{{ $t('app.views.showdoidetails.errInvalidDOIUrl') }}</div>
                                <label for="detailForm:url">{{ $t('app.views.showdoidetails.labelURL') }}</label>
                            </div>
                            <div class="form-cell-1" style="width:4rem">
                                <a class="btn-icon btn-link" :href="entry['url']"></a >
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="asterisk">{{ $t('app.views.showdoidetails.grpRepository') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4">
                                <select
                                    id="detailForm:poolname" 
                                    name="detailForm:poolname" 
                                    size="1"
                                    v-model="entry['pool-id']"
                                    v-bind:disabled="allDisabled"
                                    required
                                >
                                    <option value="" v-bind:selected="!entry['pool-id']"></option>
                                    <option v-for="(pool) in poolArray" v-bind:key="pool.id" v-bind:value="pool.id" v-bind:selected="pool.id === entry['pool-id']">{{pool.name}} ({{pool['doi-prefix']}})</option>
                                </select>
                                <label for="detailForm:poolname">{{ $t('app.views.showdoidetails.labelName') }}</label>
                            </div>
                            <div class="form-cell-4">
                            </div>
                            <div class="form-cell-4" v-if="entry.id">
                                <input
                                    id="detailForm:creationDate"
                                    type="text"
                                    name="detailForm:creationDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['creation-date']))" 
                                    disabled
                                />
                                <label for="detailForm:creationDate">{{ $t('app.views.showdoidetails.labelCreationDate') }}</label>
                            </div>
                            <div class="form-cell-4" v-if="entry.id">
                                <input
                                    id="detailForm:lastUpdate"
                                    type="text"
                                    name="detailForm:lastUpdate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['modification-date']))" 
                                    disabled
                                />
                                <label for="detailForm:lastUpdate">{{ $t('app.views.showdoidetails.labelLastUpdate') }}</label>
                            </div>
                            <div class="form-cell-4" v-if="entry.id">
                                <input
                                    id="detailForm:importDate"
                                    type="text"
                                    name="detailForm:importDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['import-date']))" 
                                    disabled
                                />
                                <label for="detailForm:importDate">{{ $t('app.views.showdoidetails.labelImportDate') }}</label>
                            </div>
                            <div class="form-cell-4" v-if="entry.id">
                                <input
                                    id="detailForm:exportDate"
                                    type="text"
                                    name="detailForm:exportDate"
                                    placeholder="--"
                                    v-bind:value="getLocalizedDateTimeStringFromDate(getDateFromISODateTimeString(entry['export-date']))" 
                                    disabled
                                />
                                <label for="detailForm:exportDate">{{ $t('app.views.showdoidetails.labelExportDate') }}</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ $t('app.views.showdoidetails.grpMetadata') }}</legend>
                        <div class="form-group">
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.metadata['titleList'].$error }">
                                <ETHListEditor
                                    id="detailForm:titleList"
                                    v-model="metadata['titleList']" 
                                    v-bind:disabled="allDisabled"
                                    v-on:list-changed="delayedValidation(v$.metadata['titleList'])"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelTitlePH')"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelTitle')"
                                    required
                                />
                                <div
                                    class="error"
                                    v-if="v$.metadata['titleList'].required.$invalid && v$.metadata['titleList'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredTitle') }}</div>
                                <!--<label for="detailForm:titleList">{{ $t('app.views.showdoidetails.labelTitle') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:descriptionList"
                                    v-model="metadata['descriptionList']" 
                                    v-bind:disabled="allDisabled"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelDescPH')"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelDesc')"
                                />
                                <!-- <label for="detailForm:descriptionList">{{ $t('app.views.showdoidetails.labelDesc') }}</label> -->
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.metadata['creatorList'].$error }">
                                <ETHListEditor
                                    id="detailForm:creatorList"
                                    v-model="metadata['creatorList']" 
                                    v-bind:disabled="allDisabled"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelCreatorPH')"
                                    v-on:list-changed="delayedValidation(v$.metadata['creatorList'])"
                                    required
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelCreator')"
                                />
                                <div
                                    class="error"
                                    v-if="v$.metadata['creatorList'].required.$invalid && v$.metadata['creatorList'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredCreator') }}</div>
                                <!-- <label for="detailForm:creatorList">{{ $t('app.views.showdoidetails.labelCreator') }}</label> -->
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.metadata['typeList'].$error }">
                                <ETHListEditor
                                    id="detailForm:typeList"
                                    v-model="metadata['typeList']" 
                                    v-bind:disabled="allDisabled"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelTypePH')"
                                    v-on:list-changed="delayedValidation(v$.metadata['typeList'])"
                                    required
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelType')"
                                />
                                <div
                                    class="error"
                                    v-if="v$.metadata['typeList'].required.$invalid && v$.metadata['typeList'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredType') }}</div>
                                <!-- <label for="detailForm:typeList">{{ $t('app.views.showdoidetails.labelType') }}</label> -->
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.metadata['publisherList'].$error }">
                                <ETHListEditor
                                    id="detailForm:publisherList"
                                    v-model="metadata['publisherList']" 
                                    v-bind:disabled="allDisabled"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelPublisherPH')"
                                    v-on:list-changed="delayedValidation(v$.metadata['publisherList'])"
                                    required
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelPublisher')"
                                />
                                <div
                                    class="error"
                                    v-if="v$.metadata['publisherList'].required.$invalid && v$.metadata['publisherList'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredPublisher') }}</div>
                                <!-- <label for="detailForm:publisherList">{{ $t('app.views.showdoidetails.labelPublisher') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:formatList"
                                    v-model="metadata['formatList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelFormatPH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelFormat')"
                                />
                                <!-- <label for="detailForm:formatList">{{ $t('app.views.showdoidetails.labelFormat') }}</label> -->
                            </div>
                            <div class="form-cell-4"
                                v-bind:class="{ 'form-group--error': v$.metadata['dateList'].$error }">
                                <ETHListEditor
                                    id="detailForm:dateList"
                                    v-model="metadata['dateList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelDatePH')"
                                    v-bind:disabled="allDisabled"
                                    v-on:list-changed="delayedValidation(v$.metadata['dateList'])"
                                    required
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelDate')"
                                />
                                <div
                                    class="error"
                                    v-if="v$.metadata['dateList'].required.$invalid && v$.metadata['dateList'].$error"
                                >{{ $t('app.views.showdoidetails.errRequiredDate') }}</div>
                                <div
                                    class="error"
                                    v-if="v$.metadata['dateList'].dcDateFormat.$invalid && v$.metadata['dateList'].$error"
                                >{{ $t('app.views.showdoidetails.errInvalidDate') }}</div>
                                <!-- <label for="detailForm:dateList">{{ $t('app.views.showdoidetails.labelDate') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:sourceList"
                                    v-model="metadata['sourceList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelSourcePH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelSource')"
                                />
                                <!-- <label for="detailForm:sourceList">{{ $t('app.views.showdoidetails.labelSource') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:subjectList"
                                    v-model="metadata['subjectList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelSubjectPH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelSubject')"
                                />
                                <!-- <label for="detailForm:subjectList">{{ $t('app.views.showdoidetails.labelSubject') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:relationList"
                                    v-model="metadata['relationList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelRelationPH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelRelation')"
                                />
                                <!-- <label for="detailForm:relationList">{{ $t('app.views.showdoidetails.labelRelation') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:contributorList"
                                    v-model="metadata['contributorList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelContributorPH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelContributor')"
                                />
                                <!-- <label for="detailForm:contributorList">{{ $t('app.views.showdoidetails.labelContributor') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:coverageList"
                                    v-model="metadata['coverageList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelCoveragePH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelCoverage')"
                                />
                                <!-- <label for="detailForm:coverageList">{{ $t('app.views.showdoidetails.labelCoverage') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:languageList"
                                    v-model="metadata['languageList']"
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelLanguagePH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelLanguage')"
                                />
                                <!-- <label for="detailForm:languageList">{{ $t('app.views.showdoidetails.labelLanguage') }}</label> -->
                            </div>
                            <div class="form-cell-4">
                                <ETHListEditor
                                    id="detailForm:rightList"
                                    v-model="metadata['rightsList']" 
                                    v-bind:placeholder="this.$t('app.views.showdoidetails.labelRightPH')"
                                    v-bind:disabled="allDisabled"
                                    v-bind:labeltext="this.$t('app.views.showdoidetails.labelRight')"
                                />
                                <!-- <label for="detailForm:rightList">{{ $t('app.views.showdoidetails.labelRight') }}</label> -->
                            </div>
                        </div>
                    </fieldset>
                                        
                    <transition name="fade">
                        <div class="form-buttons"
                            v-on:click.prevent="saveForm"
                        >
                            <button
                                class="btn btn-reset"
                                v-on:click.prevent="onClickReset"
                                v-if="!allDisabled"
                                v-bind:disabled="!entry.id"
                            >{{ $t('app.views.showdoidetails.buttonCancel') }}</button>
                            <button
                                class="btn btn-submit"
                                v-on:click.prevent="onClickSave"
                                v-if="!allDisabled"
                                v-bind:disabled="v$.$invalid"
                            >{{ $t('app.views.showdoidetails.buttonSave') }}</button>
                        </div>
                    </transition>
                </div>
            </form>
		</section>
	</main>
</template>

<script>
import Logger from 'js-logger'
import { url } from '@/utils/Validation'
import { required, minLength } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import DateUtils from '@/mixins/DateUtils'
import FullISO8601Parser from '@/utils/FullISO8601Parser'
import Breadcrumb from '@/components/layout/Breadcrumb'
import ETHListEditor from '@/components/fw/ETHListEditor'
import DOIOnlineServices from '@/services/DOIOnlineServices'

const touchMap = new WeakMap()
const dcDateFormat = (dates) => FullISO8601Parser.checkDates(dates)

export default {
	name: 'ShowDOIDetails',

    mixins: [DateUtils],

	components: {
		Breadcrumb,
        ETHListEditor
	},

	data: () => {
		return {
            v$: useVuelidate(),
            restError: null,
            allDisabled: true,
            poolArray: [],
			entry: {},
            metadata: {},
			restServices: new DOIOnlineServices()
		}
	},

    props: {
		id: null
	},

    validations: {
        entry: {
            'doi': { required },
            'url': { 
                required, 
                url, 
                doiUrl: function(enteredUrl)  {
                    if (this.entry['pool-id']) {
                        var selectedPool = this.poolArray.find((pool) => {
                            return pool['id'] === this.entry['pool-id']
                        })

                        if (selectedPool && enteredUrl) {
                            if (enteredUrl.startsWith(selectedPool['url-prefix']) ||
                                enteredUrl.replace('http://', 'https://').startsWith(selectedPool['url-prefix']) ||
                                enteredUrl.replace('https://', 'http://').startsWith(selectedPool['url-prefix'])) {
                                return true
                            }
                            if (selectedPool['doi-tombstone'] && enteredUrl === selectedPool['doi-tombstone']) {
                                return true
                            }
                        }
                    }

                    return false
                }
            },
            'pool-id': { required }
        },
        metadata: {
            'titleList':  {
                required,
                minLength: minLength(1)
            },
            'creatorList':  {
                required,
                minLength: minLength(1)
            },
            'dateList':  {
                required,
                minLength: minLength(1),
                dcDateFormat
            },
            'typeList':  {
                required,
                minLength: minLength(1)
            },
             'publisherList':  {
                required,
                minLength: minLength(1)
            },
        }
    },

    mounted() {
        this.loadPools()
        this.init()
	},

    watch: {
        id: function() {
            this.init()
        }
    },

    methods: {
        init() {
            if (this.id) {
                this.loadEntry(this.id)
                this.allDisabled = true
            } else {
                this.entry = {}
                this.metadata = {}
                this.allDisabled = false
            }
        },
		loadEntry(entryId) {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.getDOI(entryId, 
                (response) => {
                    this.entry = response.data
                    this.metadata = JSON.parse(this.entry['metadata-json'])

                    loader.hide()
                    Logger.debug('REST getDOI(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST getDOI(...) called result: ' + error)
                }
            )
		},
        saveEntry() {
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })
            this.restError = null

            if (this.entry.id) {
                this.entry['metadata-json'] = JSON.stringify(this.metadata)

                this.restServices.updateDOI(
                    this.entry.id, this.entry,
                    () => {
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST updateDOI(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST updateDOI call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            } else {
                this.metadata['identifierList'] = [this.entry['doi'], this.entry['url']]
                this.entry['metadata-json'] = JSON.stringify(this.metadata)

                this.restServices.createDOI(
                    this.entry,
                    (response) => {
                        this.entry.id = response.data.id
                        this.allDisabled = true

                        loader.hide()
                        Logger.debug('REST createDOI(...) called result: OK')
                    },
                    (error) => {
                        this.restError = error.response.data
                        window.scrollTo(0, 0)

                        loader.hide()
                        Logger.warn('REST createDOI call failed with '
                            + error.response.data['message-id'] + ": " + error.response.data['message'])

                        return true
                    }
                )
            }
		},
        loadPools() {
            this.restError = null
            let loader = this.$loading.show({
                container: null,
                canCancel: false
            })

            this.restServices.searchPool({
                'result-sortorder-array': [{
                    'attribute-name': 'name',
                    'ascending-order': true}
                    ]
                }, 
                (response) => {
                    this.poolArray = response.data['pool-array']

                    loader.hide()
                    Logger.debug('REST searchPool(...) called result: OK')
                },
                (error) => {
                    loader.hide()
                    Logger.warn('REST searchPool(...) called result: ' + error)
                }
            )
		},
        onClickEdit() {
            this.allDisabled = false
        },
        onClickReset() {
            if (this.entry.id) {
                this.loadEntry(this.entry.id)
                this.allDisabled = true
            } else {
                this.entry = {}
                this.metadata = {}
            }
        },
        onClickSave() {
            this.saveEntry()
        },
        onClickHistory() {
            this.$router.push({
                name: 'doihistory',
                query: {
					id: this.entry.id
				}
            })
        },
        onClickErrors() {
            this.$router.push({
                name: 'listerrors',
                query: {
					doi: this.entry['doi'],
                    handled: 0
				}
            })
        },
        delayedValidation(v) {
            v.$reset()
            if (touchMap.has(v)) {
                clearTimeout(touchMap.get(v))
            }
            touchMap.set(v, setTimeout(v.$touch, 1000))
		}
    }
}
</script>

<style>

</style>
